.bugDetailPage{
  height: 100%;
  background-color: #ffffff;
  .bug-detail-container {
    min-height: 100%;
    background-color: #ffffff;
    padding: 20px 20px 0 20px;
    overflow-y: auto !important;
    font-size: 0;
    padding-bottom: 60px;
    .title {
      font-size: 18px;
      color: #333333;
      line-height: 30px;
    }
    .time {
      margin-top: 10px;
      font-size: 14px;
      color: #b0b0b0;
    }
    .message {
      font-size: 15px;
      color: #333333;
      margin-top: 15px;
      line-height: 30px;
    }
    img {
      width: 100%;
      min-height: 150px;
      background-color: #e2e2e2;
      height: auto;
      margin-top: 20px;
    }

    .video{
      position: relative;
      margin-top: 20px;
      width: 100%;
      height: 200px;
      background-color: #e2e2e2;
      text-align: center;
      video{
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
      .video-btn{
        color: #ffffff;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
      }
      .video-btn:before{
        font-size: 54px;
        display: block;
        width: 40px;
        height: 40px;
        background-color: #797979;
        text-align: center;
        line-height: 0.8;
        text-indent: -8.5px;
        border-radius: 50%;
      }
    }
  }
}

.status-wrapper {
  overflow: scroll;
  background-color: #ffffff;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  .status {
    border-radius: 5px;
    border: solid 1px #e2e2e2;
    padding: 8px 16px;
    font-size: 14px;
    color: #666666;
    background-color: #ffffff;
  }
  .status.active {
    background-color: #e9f3fc;
    color: #005bac;
    position: relative;
    border-color: #e9f3fc;
    &:after {
      content: '√';
      position: absolute;
      right: 0;
      bottom: 0;
      color: #ffffff;
      text-align: right;
      width: 20px;
      height: 20px;
      font-size: 12px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid #005bac;
      border-right: 10px solid #005bac;
      border-left: 10px solid transparent;
      line-height: 0.4;
      border-bottom-right-radius: 5px;
    }
  }
}

.big {
  .mui-content {
    .bug-detail-container {
      .title {
        font-size: 20px;
      }
      .time {
        font-size: 16px;
      }
      .message {
        font-size: 17px;
      }
    }
  }
}

.super-fontsize {
  .mui-content {
    .bug-detail-container {
      .title {
        font-size: 22px;
      }
      .time {
        font-size: 18px;
      }
      .message {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 320px){
  .status-wrapper {
    .status {
      padding: 8px 10px !important;
    }
  }
}