.homePage{
  ul{
    padding: 0;
    margin: 0;
  }
  //.tab-pane:not([data-index="0"]) {
  //  -webkit-overflow-scrolling: auto;
  //}
  .conFavGroup{
    border-left:5px solid #007aff;
    margin-left:5px;
    margin-top:5px;
    color:inherit;
    padding-left:6px;
    font-size:16px;
    font-weight:bold
  }
  .editBook{
    float: right;
    font-size: 26px;
    padding-right: 1%;
    margin-top: -3px;
  }
  .mui-grid-view.mui-grid-9{
    background-color: #fff;
    border-top-color: #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }
  .mui-table-view-cell .mui-badge {
    position: absolute;
    top: 50%;
    right: -50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .mui-grid-view.mui-grid-9 .mui-media  .mui-icon, .mui-grid-view.mui-grid-9 .mui-media  .mui-icon-extra{
    font-size: 1.3em;
  }
  .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
    font-size: 12px;
  }
  .mui-table-view-cell .mui-navigate-right>.mui-badge{
    right: 40px;
  }
  .mui-table-view-cell:active{
    background-color: #eee;
  }
  .nodata {
    text-align: center;
    padding-top: 10vh;
  }
  //.nodata .iconfont {
  //  font-size: 200px;
  //  line-height: 1;
  //  color: #999;
  //}
  .slide-panel-wrapper{
    height: 100%;
    position: relative;
    padding-top: 40px;
    .nav-tabs{
      text-align: center;
      position: absolute;
      border-bottom: 1px solid #ccc;
      top: 0;
      left: 0;
      right: 0;
      height: 40px;
      line-height: 40px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;

      &>li{
        display: inline-block;
        padding: 0 18px;
      }
    }
    .slide-tab-wrapper{
      position: relative;
      top: 0;
      height: 100%;
      .tab-pane{
        overflow: auto;
        height: 100%;
        -webkit-overflow-scrolling: auto;
      }
    }
  }

  .home-load-error{
    &::before{
      font-family: "appcommon" !important;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      content: "\e657";
      display: block;
      font-size: 150px;
      text-align: center;
      padding: 20px 0 0;
      line-height: 200px;
      color: $text;
      -webkit-transform: scale(1);
      transform: scale(1);
      background-color: transparent;
    }
    &::after{
      content: "数据加载错误, 点击重新加载";
      display: block;
      font-size: 20px;
      text-align: center;
      padding: 0 0 20px;
      color: $text;
      line-height: 20px;
      -webkit-transform: scale(1);
      transform: scale(1);
      background-color: transparent;
    }
  }

  .no-data{
    &::after{
      font-family: "appcommon" !important;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      content: "\e62b";
      display: block;
      font-size: 150px;
      text-align: center;
      padding: 20px 0;
      line-height: 200px;
      color: $text;
      height: auto!important;
      -webkit-transform: scaleY(1)!important;
      transform: scaleY(1)!important;
      background-color: transparent!important;
    }
  }
  .mui-bar.mui-bar-nav{
    background-color: #fff;
    //background: rgba(241,244,250,1);
    //background: -moz-radial-gradient(center, ellipse cover, rgba(241,244,250,1) 0%, rgba(180,212,245,1) 100%);
    //background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,244,250,1)), color-stop(100%, rgba(180,212,245,1)));
    //background: -webkit-radial-gradient(center, ellipse cover, rgba(241,244,250,1) 0%, rgba(180,212,245,1) 100%);
    //background: -o-radial-gradient(center, ellipse cover, rgba(241,244,250,1) 0%, rgba(180,212,245,1) 100%);
    //background: -ms-radial-gradient(center, ellipse cover, rgba(241,244,250,1) 0%, rgba(180,212,245,1) 100%);
    //background: radial-gradient(ellipse at center, rgba(241,244,250,1) 0%, rgba(180,212,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f4fa', endColorstr='#b4d4f5', GradientType=1 );
  }
  .mui-content .mui-slider{
    background-color: #fff;
    //background: rgba(241,244,250,1);
    //background: -moz-linear-gradient(top, rgba(241,244,250,1) 0%, rgba(180,212,245,1) 100%);
    //background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,244,250,1)), color-stop(100%, rgba(180,212,245,1)));
    //background: -webkit-linear-gradient(top, rgba(241,244,250,1) 0%, rgba(180,212,245,1) 100%);
    //background: -o-linear-gradient(top, rgba(241,244,250,1) 0%, rgba(180,212,245,1) 100%);
    //background: -ms-linear-gradient(top, rgba(241,244,250,1) 0%, rgba(180,212,245,1) 100%);
    //background: linear-gradient(to bottom, rgba(241,244,250,1) 0%, rgba(180,212,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f4fa', endColorstr='#b4d4f5', GradientType=0 );
  }
  .mui-grid-view.mui-grid-9{
    background: transparent;
    border-bottom: none;
  }
  #favorites .mui-grid-view.mui-grid-9{
    padding-top: 14px;
  }

  .mui-slider-indicator.mui-segmented-control{
    background: transparent;
  }
  .mui-pull-bottom-tips{
    background: none;
    margin-top: -1px;
  }
  #favorites .mui-grid-view .mui-table-view-cell[data-favid=""]{
    display: none;
  }
  .badge-red{
    top: 5%!important;
    background: red;
  }
  .badge-none{
    display: none;
  }
  header{
    .icon-sousuo{
      float: right;
      left: 9px;
    }
  }

}

// 新的首页菜单样式
.homePage, .menuPage {

  .mui-table-view{
    border-top: none!important;
    .mui-table-view-cell{
      padding: 0;
      border: none;
      overflow: visible;
      &>a{
        padding: 8px 0 0!important;
        &>span{
          display: block;
          margin: 0 auto;
          height: 46px;
          width: 46px;
          border-radius: 50%;
          color: #fff;
          background-color: #4ea6f1;
          text-align: center;
          line-height: 46px;

          &.green {
            background-color: $green;
          }
          &.yellow {
            background-color: $yellow;
          }
          &.red {
            background-color: $red;
          }
          &.purple {
            background-color: $purple;
          }
          &.black {
            background-color: $black
          }
          &.grey {
            background-color: $grey;
          }
        }
        .mui-media-body{
          height: auto;
        }
      }

    }
  }
}