@import "../../../global/style/color.param.scss";
@import "../index//recentPage.scss";
#collect_null {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #666;
}

.page-container {
  background-color: white;
}

.collect_block {
  .collect_line_hr {
    height: 1px;
    background-color: #E2E2E2;
    margin: 0px 40px 40px 40px;
  }
  .collect_nav {
    margin-left: 40px;
    display: flex;
    align-items: flex-end;
    .edit_btn {
      cursor: pointer;
      font-size: 14px;
      color: #666;
      &:hover {
        color: #007AFF;
      }
    }
    .icon-shenpiguanli:before {
      display: inline-block;
      margin-right: 7px!important;
    }
    .collect_nav_groupName {
      font-size: 24px;
      color: #333;
      display: flex;
      align-items: center;
      margin-right: 40px;
    }
    .collect_nav_groupName::before {
      content: "x";
      font-size: 0px;
      width: 6px;
      height: 28px;
      display: inline-block;
      background-color: #005BAC;
      margin-right: 10px;
    }
  }
}