@import "../../../global/style/color.param.scss";
.collect_block {
  .collect_nav {
    display: flex;
    justify-content: space-between;
    margin: 6px 15px;
    border-bottom: 1px solid #00000024;
  }
  .collect_nav span {
    display: inline-block;
    margin-bottom: 5px;
  }
  .collect_nav>span:nth-child(1) {
    color: #333333;
    font-size: 20px;
  }
  .collect_nav>span:nth-child(2) {
    width: 30px;
    height: 30px;
    background-image: url(../../../img/edit.png);
    background-repeat: no-repeat;
    background-size: 70%;
  }
  .collect_item {
    padding: 0px;
    margin: 10px 15px;
    li {
      display: inline-block;
      margin-right: 30px;
      a {
        text-align: center;
      }
      .self_icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: $blue;
        border-radius: 50%;
      }
      .self_icon:before {
        zoom: 2;
        color: white;
        margin-top: 50%;
        display: inline-block;
        transform: translateY(-50%)
      }
      .collect_caption {
        color: #333333;
        font-size: 14px;
        margin: 5px auto;
      }
      .blue {
        background-color: $blue;
      }
      .green {
        background-color: $green;
      }
      .yellow {
        background-color: $yellow;
      }
      .red {
        background-color: $red;
      }
      .purple {
        background-color: $purple;
      }
      .black {
        background-color: $black;
      }
      .grey {
        background-color: $grey;
      }
    }
    li:hover {
      .collect_caption {
        color: $blue;
      }
    }
  }
}