.list-item-detail {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  overflow: hidden;
}

.edit-overflow-hidden {
  overflow: hidden !important;
}

.list-item-detail-wrapper {
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  .list-detail-cells-wrapper {
    width: 100%;
    flex: 1 1 auto;
    background-color: #ffffff;
    padding-left: 16px;
    overflow: auto;
    min-height: auto;
    .detail-cell {
      height: 50px;
      width: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      padding-right: 16px;
      border-bottom: 1px solid #e2e2e2;
      .detail-cell-content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .detail-cell-content, .detail-cell-mutil-content {
        color: #666666;
      }
      .detail-cell-title {
        color: #333333;
        flex: 0 0 auto;
        margin-right: 20px;
        max-width: 180px;
      }
    }
    .detail-cell-imgs-title {
      color: #333333;
      height: 45px;
      display: flex;
      display: -webkit-flex;
      align-items: center;
    }
    .detail-cell-textarea-wrapper {
      border-bottom: 1px solid #e2e2e2;
      padding-bottom: 8px;
      .detail-cell-mutil-content {
        width: 100%;
        height: 100px;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .detail-cell-textarea {
          height: 100%;
          width: 100%;
          overflow-y: auto;
          word-wrap: break-word;
          line-height: 30px;
          //text-indent: 2rem;
        }
      }
    }
    .detail-cell-img-wrapper {
      border-bottom: 1px solid #e2e2e2;
      .detail-cell-imgs {
        display: flex;
        display: -webkit-flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 95px;
        overflow-x: auto;
        padding-bottom: 15px;
        img {
          width: 80px;
          height: 80px;
          flex-shrink: 0;
          flex-grow: 0;
          margin-right: 15px;
        }
      }
    }
    .detail-cell-file-wrapper {
      border-bottom: 1px solid #e2e2e2;
      .detail-cell-files {
        .detail-cell-file-item {
          display: flex;
          display: -webkit-flex;
          align-items: center;
          justify-content: flex-start;
          padding: 15px 0;
          height: 80px;
          position: relative;
          .file-icon {
            width: 50px;
            height: 50px;
            background-color: #49aee8;
            color: #ffffff;
            margin-right: 10px;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            i {
              font-size: 36px;
            }
          }
          .file-info {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            width: calc(100% - 100px);
            .file-name {
              color: #333333;
              font-size: 16px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 100%;
            }
            .file-size {
              color: #b0b0b0;
              font-size: 15px;
            }
          }
          .file-option {
            color: #333333;
            font-size: 35px;
            position: absolute;
            flex: 0 0 auto;
            right: 0;
          }
        }
      }
    }
  }
  .list-item-detail-buttons {
    flex: 0 0 auto;
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    border-top: 1px solid #e2e2e2;
    z-index: 3;
    order: 1;
  }
  .btn.disabled {
    opacity: .5;
    pointer-events: none !important;
  }
  .btn.list-detail-btn {
    height: 40px;
    border-radius: 20px;
    margin-left: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-color: #005bac;
    color: #005bac;
  }
  .btn.more {
    border: none;
    color: #666666;
    padding-left: 0;
    padding-right: 0;
  }
  .btn.list-detail-btn:active {
    color: #ffffff !important;
    background-color: #005bac !important;
    border-color: #005bac !important;
  }
  .btn.list-detail-btn:hover {
    color: #005bac;
    background-color: #ffffff;
    border-color: #005bac;
  }
  .app-zanwushuju {
    width: 80px;
    height: 80px;
    font-size: 80px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
  }
}

.detail-modal {
  .modal-body {
    padding-left: 16px;
  }
  .bw-upload-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .form-wrapper {
    background-color: #ffffff;
    padding-left: 16px;
    .disabled, [disabled] {
      opacity: 0.8 !important;
    }
    &.ios-form {
      .disabled, [disabled] {
        opacity: 0.9 !important;
        color: #333333;
      }
    }
    .detail-cell {
      height: 50px;
      width: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      padding-right: 16px;
      border-bottom: 1px solid #e2e2e2;
      &.textarea {
        width: 100%;
        height: 120px;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 6px;
        .detail-cell-title {
          color: #333333;
          height: 45px;
          display: flex;
          display: -webkit-flex;
          align-items: center;
          width: 100%;
          justify-content: flex-start;
          max-width: 100%;
          margin-right: 0;
          flex: none;
        }
        textarea {
          height: calc(100% - 45px);
          width: 100%;
          overflow-y: auto;
          word-wrap: break-word;
          line-height: 20px;
          resize: none;
          outline: none;
          border: none;
          background-color: #FFFFFF;
          font-size: 14px;
          padding: 0;
          margin: 0;
        }
      }
      &.disabled {
        .detail-cell-title[data-input-type="input"] ~ .text-input > input {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .text-input {
        color: #666666;
        & > .btn-group .icon {
          display: flex;
          display: -webkit-flex;
          align-items: center;
        }
        & > input {
          height: 100%;
          margin-bottom: 0;
          text-align: right;
          font-size: 14px;
        }
      }
      .detail-cell-title {
        color: #333333;
        flex: 0 0 auto;
        margin-right: 20px;
        max-width: 180px;
        font-size: 14px;
      }
      .detail-cell-title[data-input-type="datetime"] ~ .text-input > input {
        pointer-events: none;
      }
    }
  }
  .foot-wrapper > .modal-footer {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    height: 70px !important;
    .left-plane, .right-plane {
      position: static;
    }
    .right-plane {
      margin-left: 16px;
    }
  }
  .modal-btn {
    height: 40px !important;
    border-radius: 20px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-color: #005bac;
    color: #005bac;
  }
  .modal-btn.eidt-confirm {
    color: #ffffff;
    background-color: #005bac;
  }
  .btn.modal-btn:hover {
    color: #005bac;
    background-color: #ffffff;
    border-color: #005bac;
  }
  .btn.modal-btn.eidt-confirm:active {
    color: #ffffff !important;
    background-color: #005bac !important;
    border-color: #005bac !important;
  }
  .btn.modal-btn.eidt-confirm:hover {
    color: #ffffff;
    background-color: #005bac;
    border-color: #005bac;
  }
}


