.fl-pc {
  .list-item-detail-pc {
    background-color: #ffffff;
  }
  .list-item-detail-wrapper {
    background-color: #ffffff;
    width: 100%;
    height: calc(100% - 23px);
    overflow: hidden;
    .bw-upload-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .list-item-detail-buttons {
      display: flex;
      align-items: center;
      padding: 10px 0 15px 0;
      height: 61px;
      width: 100%;
      .item-buttons {
        margin-right: 60px;
      }
      button.btn.button-type-default {
        background-color: #ffffff;
        border-radius: 3px;
        border: solid 1px #e2e2e2;
        color: #333333;
        font-size: 14px;
        height: 36px;
        padding-left: 14px;
        padding-right: 14px;
        margin-right: 20px;
        &.list-detail-btn {
          border: solid 1px #005bac;
          color: #005bac;
        }
      }
    }
    .list-detail-cells-wrapper {
      overflow-y: auto;
      height: calc(100% - 61px);
      width: 100%;
      &.no-group {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
      .detail-cell {
        width: 33.33%;
        &.three-column {
          width: 33.33%;
        }
        &.two-column {
          width: 50%;
        }
        &.one-column {
          width: 100%;
        }
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 44px;
        border: solid 1px #e2e2e2;
        .detail-cell-title {
          flex-shrink: 0;
          flex-grow: 0;
          width: 170px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          background-color: #f7f8fa;
          border-right: solid 1px #dddddd;
          height: 100%;
          display: flex;
          align-items: center;
          padding-left: 22px;
          font-size: 14px;
        }
        .detail-cell-content {
          background-color: #ffffff;
          padding-left: 22px;
          width: calc(100% - 170px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 100%;
          line-height: 43px;
          font-size: 14px;
        }
      }
      .detail-cell-file-wrapper, .detail-cell-img-wrapper, .detail-cell-textarea-wrapper {
        width: 100%;
        height: 80px;
        background-color: #ffffff;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: flex-start;
        border: solid 1px #e2e2e2;
        position: relative;
        &.one-column {
          width: 100%;
        }
        .detail-cell-imgs-title {
          flex-shrink: 0;
          flex-grow: 0;
          width: 170px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          background-color: #f7f8fa;
          border-right: solid 1px #dddddd;
          height: 100%;
          display: flex;
          align-items: center;
          padding-left: 22px;
        }
        .detail-cell-files {
          background-color: #ffffff;
          height: 100%;
          display: flex;
          display: -webkit-flex;
          align-items: flex-start;
          padding: 0 11px 0 14px;
          flex-direction: column;
          width: calc(100% - 170px);
          overflow-y: auto;
          overflow-x: hidden;
          .detail-cell-file-item {
            display: flex;
            display: -webkit-flex;
            justify-content: flex-start;
            align-items: center;
            height: 30px;
            width: 100%;
            flex: 0 0 30px;
            position: relative;
            .file-name {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              margin-left: 15px;
              color: #333333;
              width: auto;
            }
            i {
              color: #333333;
            }
            .file-size {
              color: #b0b0b0;
              margin-left: 5px;
            }
            .file-option {
              color: #005bac;
              margin-left: 18px;
            }
          }
        }
        .detail-cell-imgs {
          background-color: #ffffff;
          height: 100%;
          width: calc(100% - 170px);
          padding: 0 11px 0 14px;
          display: flex;
          display: -webkit-flex;
          justify-content: flex-start;
          align-items: center;
          overflow-x: auto;
          overflow-y: hidden;
          img {
            width: 60px;
            height: 60px;
            margin-right: 20px;
            flex-shrink: 0;
            &:first-child {
              margin-left: 7px;
            }
          }
        }
        .detail-cell-mutil-content{
          width: 100%;
          height: 100px;
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 8px 22px;
          .detail-cell-textarea {
            height: 100%;
            width: 100%;
            overflow-y: auto;
            word-wrap: break-word;
            line-height: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
        }
        .appcommon.app-zanwushuju {
          font-size: 55px;
        }
      }
      .group-wrapper {
        .group-title {
          font-size: 18px;
          color: #000000;
          padding-left: 5px;
        }
        .group-cells-wrapper {
          display: flex;
          display: -webkit-flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          padding: 20px 0;
        }
      }
    }
  }
  .detail-modal {
    .modal-body {
      height: calc(100% - 114px);
      padding-left: 16px;
    }
    .form-wrapper {
      background-color: #ffffff;
      padding-left: 16px;
      .group-title {
        font-size: 18px;
        color: #000000;
        padding-left: 5px;
      }
      .group-cells-wrapper {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 20px 0;
        .detail-cell {
          height: 50px;
          width: 300px;
          display: flex;
          display: -webkit-flex;
          justify-content: space-between;
          align-items: center;
          background-color: #ffffff;
          padding-right: 16px;
          &.three-column {
            width: 33.33%;
          }
          &.two-column {
            width: 50%;
          }
          &.one-column {
            width: 100%;
          }
          //border-bottom: 1px solid #e2e2e2;
          &.disabled {
            .detail-cell-title[data-input-type="input"] ~ .text-input > input {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          .text-input {
            color: #666666;
            border: 1px solid #ccc;
            border-radius: 5px;
            & > .btn-group .icon {
              display: flex;
              display: -webkit-flex;
              align-items: center;
            }
            & > input {
              height: 100%;
              margin-bottom: 0;
              font-size: 14px;
            }
          }
          .detail-cell-title {
            color: #333333;
            flex: 0 0 auto;
            margin-right: 20px;
            max-width: 180px;
            font-size: 14px;
          }
          .detail-cell-title[data-input-type="datetime"] ~ .text-input > input {
            pointer-events: none;
          }
        }
      }
    }
    &.detail-edit {
      .modal-body {
        padding: 10px;
        max-height: 100%;
        //height: calc(100% - 93px) !important;
      }
      .disabled {
        opacity: 0.5;
        pointer-events: none !important;
      }
      .bw-upload-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .form-wrapper {
        background-color: #ffffff;
        padding-left: 0;
        height: auto;
        &.no-group {
          display: flex;
          display: -webkit-flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
        }
        .accessory-wrapper {
          width: 100%;
          height: 80px;
          background-color: #ffffff;
          display: flex;
          display: -webkit-flex;
          align-items: center;
          justify-content: flex-start;
          border: solid 1px #e2e2e2;
          padding: 0;
          &[data-type="virtual"] {
            display: none;
          }
          .images-wrapper {
            background-color: #ffffff;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            justify-content: flex-start;
            overflow-x: auto;
            overflow-y: hidden;
            height: 100%;
            width: 100%;
            padding-left: 13px;
            padding-top: 0;
            .add-wrapper {
              flex: 0 0 auto;
              position: relative;
              width: 60px;
              height: 60px;
              color: #b0b0b0;
              background-color: #ffffff;
              border-radius: 2px;
              border: dotted 1px #e2e2e2;
              font-size: 24px;
              display: flex;
              display: -webkit-flex;
              align-items: center;
              justify-content: center;
              margin-left: 7px;
              input {
                display: none;
              }
              .text-input {
                display: none;
              }
              .webuploader-pick {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                display: -webkit-flex;
                align-items: center;
                justify-content: center;
                &:after {
                  content: '+';
                  color: #b0b0b0;
                  font-weight: 200;
                  font-size: 48px;
                  margin-top: -5px;
                }
              }
            }
            .images-body {
              display: flex;
              display: -webkit-flex;
              align-items: center;
              justify-content: flex-start;
              flex: 0 0 auto;
              .upload-img {
                width: 60px;
                height: 60px;
                flex: 0 0 60px;
                position: relative;
                margin-right: 20px;
                img {
                  width: 100%;
                  height: 100%;
                }
                &:last-child {
                  margin-right: 13px;
                }
                &:first-child {
                  margin-left: 7px;
                }
                .close-ball {
                  position: absolute;
                  right: -6px;
                  top: -6px;
                  width: 18px;
                  height: 18px;
                  background-color: #ffb400;
                  display: flex;
                  display: -webkit-flex;
                  justify-content: center;
                  align-items: center;
                  color: #ffffff;
                  border-radius: 50%;
                  i {
                    font-size: 8px !important;
                  }
                }
                .img-error {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  opacity: 0.6;
                  background-color: #1b1410;
                  .error-text {
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    height: 40px;
                    width: 100%;
                    display: flex;
                    display: -webkit-flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: #ff4d6a;
                    i {
                      font-size: 20px;
                    }
                  }
                }
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
          .accessory-body {
            background-color: #ffffff;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 11px 0 14px;
            height: 100%;
            .upload {
              display: flex;
              align-items: center;
              justify-content: center;
              color: #005bac;
              font-size: 14px;
              width: 110px;
              height: 36px;
              background-color: #ffffff;
              border-radius: 3px;
              border: solid 1px #005bac;
              position: relative;
              input {
                display: none;
              }
              .text-input {
                display: none;
              }
              i {
                margin-right: 10px;
              }
            }
            width: calc(100% - 170px);
            .accessory-content-wrapper {
              display: flex;
              display: -webkit-flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              height: 100%;
              overflow-y: auto;
              overflow-x: hidden;
              width: calc(100% - 140px);
              .accessory-item {
                display: flex;
                display: -webkit-flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 14px;
                height: 30px;
                flex: 0 0 30px;
                i {
                  color: #333333;
                }
                .file-name {
                  color: #333333;
                  margin-left: 15px;
                  width: auto;
                  max-width: 200px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .file-size {
                  color: #b0b0b0;
                  margin-left: 5px;
                }
                .deleteBtn {
                  color: #005bac;
                  margin-left: 18px;
                }
              }
            }
          }
          .accessory-title {
            flex-shrink: 0;
            flex-grow: 0;
            width: 170px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-color: #f7f8fa;
            border-right: solid 1px #dddddd;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 22px;
            margin-right: 0;
          }
        }
        .detail-cell {
          width: 33.33%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          height: 44px;
          border: solid 1px #e2e2e2;
          padding: 0;
          &[data-type="virtual"] {
            display: none;
          }
          & > .text-input {
            height: 100%;
            background-color: #ffffff;
            width: calc(100% - 170px);
            border: none;
            & > input {
              height: 100%;
            }
            & > .btn-group {
              & > a.icon {
                display: flex;
                align-items: center;
              }
            }
          }
          .detail-cell-title {
            flex-shrink: 0;
            flex-grow: 0;
            width: 170px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-color: #f7f8fa;
            border-right: solid 1px #dddddd;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 22px;
            margin-right: 0;
            font-size: 14px;
          }
          .detail-cell-content {
            background-color: #ffffff;
            padding-left: 22px;
            width: calc(100% - 170px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 100%;
            line-height: 43px;
          }
          .text-input {
            font-size: 14px;
          }
        }
      }
      .modal-footer {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
        .left-plane, .right-plane {
          position: static;
        }
        .right-plane {
          margin-left: 20px;
        }
      }
    }
  }
}