.element-col{
    width: 115px;
    float: left;

  .drop-item:hover{
    background-color: white!important;
    color: #333!important;
  }
    &>*{
      padding: 5px 0 5px 0;
    }
    h5{
      margin-bottom: 0;
    }
    .one-trees{
      margin-bottom: 0;
      padding-top: 0;
    }
    .two-trees{
      margin-left: 3px;
    }
    .three-trees{
      margin-left: 6px;
    }
    .four-trees{
      margin-left: 9px;
    }

    .dropdown-menu.inline{
      position: inherit;
      float: none;
      border: none;
      height: auto;
      max-height: none;
      text-align: left;
      color: #333;
      .drop-span{
        margin-left: 6px;
      }
      .check-span{
        left: -19px!important;
      }
    }
  }
.modal-multiPick{
  min-width: 300px;
  width: 300px;
  height: 500px;
  .modal-body{
    height: 400px;
  }
}
.pick-height-70{
  .modal-body{
    max-height: 70vh;
  }
}
