.chart-table {
    height: 20rem;
    overflow: scroll;
    background-color: white;
    min-width: 240px;
}

.chart-container {
    width: 100%;
    height: 20rem;
    min-width: 240px;
}
// .btn-default {
//     // border-color: none;
//     color: #fff;
//     background-color: #56a4f1;
//     border-color: #fbfdff;
//     // padding: 5px 20px;
//     font-size: 12px;
//     border-radius: 4px;
//     height: 24px;
//     line-height: 24px;
//     &:hover {
//         color: #fff;
//         background-color: #1890ff;
//         border-color: #1890ff;
//         padding: 5px 20px;
//         font-size: 14px;
//         border-radius: 4px; 
//         height: 24px;

//     }
// }
.chart-btns {
    margin-top: 5px;
    // float: left;
    
}
.button-small {
    padding: 2px 15px !important;
}
.max-chart {
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    position: absolute;
    background-color: white;
    top: 0;
}
.drill-baffle {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .drill-confirm {

        // width: 500px;
        // min-height: 300px;
        @media screen and (max-width: 628px) {
            width: 80%; 
            min-width: 200px;
         }
         @media screen and (min-width: 628px) {
            width: 500px;
            min-height: 300px;
         }
        background-color: white;
        padding: 20px;
        text-align: center;
        color: white;
        border-radius: 5px;
        // font-weight: bold;
        font-size: 14px;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        // display: flex;
        // flex-wrap: wrap;
        // align-items: flex-end;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-end;
        align-content: center;
        animation: doAlert 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) ;
        li {
            width: 100%;
            padding: 6px;
            border-radius: 5px;
            // background-color: gainsboro;
            background-color: rgb(64, 169, 255);
            margin-bottom: 10px;
        }
        
    
    }
    .drill-confirm2 {
        width: 0;
        // min-height: 300px;
        height: 0;
        background-color: white;
        padding: 20px;
        text-align: center;
        color: white;
        border-radius: 5px;
        // font-weight: bold;
        font-size: 14px;
        position: absolute;
        right: 0;
        bottom: 0;
        // transform:translate(-50%, -50%);
        animation: doAlert 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) reverse;
        li {
            padding: 6px;
            border-radius: 5px;
            // background-color: gainsboro;
            background-color: rgb(64, 169, 255);
        }
        
    
    }
    

    @keyframes doAlert {
        0%{
            position: absolute;
            top: 100%;
            left: 100%;
            
            width: 0px;
            height: 0px;
        }
        100% {
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            
            @media screen and (max-width: 628px) {
                width: 80%; 
             }
             @media screen and (min-width: 628px) {
                width: 500px; 
             }
            min-height: 300px;
        }
    }
}