.chart-table {
    height: 20rem;
    overflow: scroll;
}

.chart-container {
    width: 100%;
    height: 20rem;
}
// .btn-default {
//     // border-color: none;
//     color: #fff;
//     background-color: #56a4f1;
//     border-color: #fbfdff;
//     // padding: 5px 20px;
//     font-size: 12px;
//     border-radius: 4px;
//     height: 24px;
//     line-height: 24px;
//     &:hover {
//         color: #fff;
//         background-color: #1890ff;
//         border-color: #1890ff;
//         padding: 5px 20px;
//         font-size: 14px;
//         border-radius: 4px; 
//         height: 24px;

//     }
// }
.chart-btns {
    margin-top: 5px;
    // float: left;
    
}
.button-small {
    padding: 2px 15px !important;
}
