.collect_pc_model_bocy {
  .modal_footer {
    padding: 10px 15px;
    border-top: 1px solid #e5e5e5;
  }
  .select_comp {
    display: inline-block;
    border: 1px solid #33333352;
  }
  .menu_name {
    height: 30px;
    width: 148px;
    padding-left: 6px;
    border: 1px solid #33333352;
  }
  label {
    width: 50px;
    text-align: center;
    margin-left: -30px;
  }
  .collect_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .collect_body .colect_body_group>div {
    margin: 8px auto;
  }
  .collect_body_menu {
    margin: 25px auto;
  }
  .sure_btn,
  .cancel_btn {
    float: right;
  }
  .sure_btn {
    margin-right: 10px;
    background-color: #2697EB;
    color: white;
  }
}