.collect_pc_model_bocy {
  .modal_footer {
    padding: 10px 15px;
    button:not(:first-child) {
      float: right;
    }
    .btn {
      position: relative;
      border: none;
    }
    .btn>span {
      padding: 8px 20px;
      border: 0.8px solid #6666664f;
      border-radius: 4px;
    }
    .del_btn>span {
      border: none!important;
      padding-left: 0px!important;
    }
    .save_btn>span {
      background-color: #005BAC!important;
      color: white!important;
    }
    .save_btn>span:hover {
      color: #007AFF!important;
    }
  }
  .select_comp {
    height: 33px;
    width: 290px;
    display: inline-block;
    border: 1px solid #6666664f;
    border-radius: 4px;
    margin-bottom: 30px
  }
  .menu_name {
    height: 33px;
    width: 290px;
    padding-left: 6px;
    border: 1px solid #6666664f;
    border-radius: 4px;
    margin: 30px auto;
  }
  label {
    width: 50px;
    text-align: center;
    margin-left: -10px;
  }
  .collect_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .collect_body .colect_body_group>div {
    margin: 8px auto;
  }
  .collect_body_menu {
    margin: 25px auto;
  }
}