.collect_modal-body {
  .collect {
    display: flex;
    align-items: center;
    justify-content: center;
    .collect_mb_btn {
      height: 40px!important;
    }
    .select_group {
      appearance: none;
      /*清除select下拉框默认样式*/
      margin-bottom: 0px;
      width: 68%;
      background: #f7f7f7 url(https://bwt.sanfu.com/web-pe/img/sort_desc.png) no-repeat 100% 27%;
    }
    .inp_name {
      margin-bottom: 0px;
      width: 68%;
    }
    .add_i {
      font-size: 30px;
      vertical-align: sub!important;
    }
    .add_i:before {
      content: '\e468';
      display: inline-block;
      transform: rotate(45deg);
    }
    .add_s {
      font-size: 30px;
      vertical-align: sub!important;
      cursor: pointer;
    }
    .add_s:before {
      content: '\e468';
    }
  }
  .group_input {
    width: 78%;
    margin-bottom: 26px;
    border: none!important;
    border-radius: 0px;
    padding: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .2)!important;
  }
  .collect_input {
    display: none;
  }
  .group_btn button {
    margin-right: 15px;
  }
  .group_btn button:last-child {
    margin-right: 0px;
  }
  .del_btn {
    background-color: #DD524D;
    color: white;
  }
  .rename_btn {
    background-color: #007AFF;
    color: white;
  }
}