.activity-detail-page{
  .detail-row{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-bottom: none;
    padding: 15px 50px;
    .title-time{
      margin: 0 10px 0 15px;
    }
    .cover-img{
      width: 400px;
      height: 200px;
      background-color: #d8e3e9;
      position: relative;
      overflow: hidden;
      margin-bottom: 30px;
      .status{
        width: 118px;
        height: 118px;
        background-color: #f5956b;
        color: #ffffff;
        position: absolute;
        top: -59px;
        right: -59px;
        line-height:186px;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
        text-align: center;
      }
      img[src=""]{
        opacity: 0;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
    .detail-item{
      table{
        border-collapse: collapse;
        border: 1px solid #33484f;
        th,td{
          height: 36px;
          width: 120px;
          border: 1px solid #33484f;
          text-align: center;
        }
      }
      .detail-label{
        text-align: left !important;
        width: auto;
        margin-right: 4px;
        flex-shrink: 0;
      }
      width: 50%;
      .detail-item-wrapper{
        width: 90%;
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        .detail-content{
          font-weight: bold;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          .more{
            color: #0099ff;
            font-weight: normal;
          }
          .charge{
            margin-right: 8px;
          }
          .small-item{
            background-color: #65b3f1;
            padding: 8px 14px;
            font-weight: normal;
            margin-right: 20px;
            color: #ffffff;
            display: inline-block;
            margin-bottom: 10px;
          }
        }
      }
      .btn.button-type-default{
        background-color: #0099ff;
        border: none;
        outline: none;
        color: #ffffff;
        &.btn:hover, &.btn.avtive {
          background-color: #0089e5;
        }
      }
    }
    .lesson-label{
      width: auto;
    }
    .type{
      margin-left: 8px;
    }
  }
  .detail-row.isBack{
    .row{
      margin: 0 !important;
    }
    justify-content: flex-start;
  }
  .detail-row.sign{
    justify-content: flex-start;
    flex-wrap: wrap;
    .detail-item.detailSignModule{
      margin-bottom: 20px;
      .detail-sign-wrapper{
        width: 90%;
        border: dashed 1px #d8e3e9;
        padding: 20px;
      }
      .detail-sign-title{
        color: #33484f;
        font-size: 16px;
        font-weight: bold;
        line-height: 60px;
      }
      .detail-sign-content{
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-top: 20px;
        //.detail-label{
        //  line-height: 48px;
        //}
        .detail-sign-type,.detail-sign-position{
          display: flex;
          align-items: flex-start;
        }
        .detail-sign-position{
          margin-left: 40px;
        }
      }
    }

  }
}