.flow-modal{
  width: 100%;
  height: 100%;
  .modal-header{
    background-color: #005bac;
    .close{
      opacity: 1;
    }
    .close,.close:hover {
      color: #FFFFFF;
    }
  }
  .modal-header h1{
    color: #FFFFFF;
  }
  .modal-body{
    background-color: #ecf5fd;
    max-height: none !important;
  }
  .design-canvas{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .tip-header{
    height: 31px;
    background-color: #005bac;
    width: 100%;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .tips{
    height: auto;
    width: 150px;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 1px #b6d1e0;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1001;
    .tip-items{
      padding: 0 10px;
      .tip-line{
        width: 100%;
        border-bottom: 1px solid  #b6d1e0;
      }
      .tip-item{
        padding: 3px 0;
        height: 30px;
        width: 100%;
        user-select: none;
        .task-item{
          i{
            width: 16px;
          }
        }
        .tip-item-inner{
          width:100%;
          height: 100%;
          display: flex;
          align-items: center;
          padding-left: 20px;
          i{
            color: #254363;
            margin-right: 16px;
          }
          &.active{
            background-color: #f1f8ff;
          }
        }
      }
    }
  }
  svg{
    z-index: 1000;
  }
  .flow-item{
    position: absolute;
    padding: 10px;
    min-width: 100px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    max-width: 160px;
    border-radius: 5px;
    border: solid 1px #b6d1e0;
    background-color: #ffffff;
    .inner-circle{
      width: 18px;
      height: 18px;
      top: 10px;
      left: 10px;
      background-color: #b6d1e0;
      border-radius: 50%;
    }
    &.end-circle,&.start-circle{
      border-radius: 50%;
      min-width: 40px;
      min-height: 40px;
      max-width: 40px;
      width: 40px;
      height: 40px;
      border: solid 1px #b6d1e0;
    }
    &.active{
      border-color: #005bac;
      &.diamond{
        border-color: #005bac;
      }
      .inner-circle{
        background-color: #005bac;
      }
    }
    &.diamond{
      min-width: 50px;
      min-height: 50px;
      max-width: 50px;
      width: 50px;
      height: 50px;
      border: none;
      transform: rotate(45deg);
      border: solid 1px #b6d1e0;
      background-color: #ffffff;
      border-radius: 0;
      .diamond-text{
        transform: rotate(-45deg);
      }
    }
  }
  .lineItem{
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1002;
    user-select: none;
  }
  .flow-editor{
    position: absolute;
    left: 180px;
    bottom: 20px;
    width: 260px;
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 1px #b6d1e0;
  }
  .flow-editor.hide{
    display: none;
  }
}
.move-follow {
  position: absolute;
  opacity: 0.8;
  z-index: 10003;
  color: #000000;
}
.flowListPC{
  height: calc(100% - 23px);
  .tab-content{
    height: calc(100% - 42px);
    .tab-pane{
      height: 100%;
    }
  }
}