.passwd-modal{
  .text-input{
    border-bottom: 1px solid #ccc;
  }
}
.cpw-content {
  margin-top: 30px;
  width: 600px;
  .form-group {
    width: 60%;
    text-align: right;
    margin: 10px auto;
    .input-username{
      cursor: not-allowed;
    }
    input{
      width: 80%;
      height: 32px;
      border: solid 1px #e2e2e2;
      border-radius: 5px;
      color: #3a3a3a;
      padding-left: 10px;
    }
  }
  .btn-group{
    margin-left: 44%;
    .change-btn{
      display: inline-block;
    }
    .btn{
      margin-right: 10px;
      border-bottom-right-radius: 2px;
    }
  }
  .password-tip{
    color: red;
    text-align: left;
    margin-top: 10px;
    margin-left: 60px;
  }
  .same{
    color: #007aff;
  }
}