.cpw-content {
  width: 500px;
  .form-group {
    width: 60%;
    text-align: right;
    margin: 10px auto;
    input{
      width: 80%;
      height: 32px;
      border: solid 1px #e2e2e2;
      border-radius: 5px;
      color: #3a3a3a;
      padding-left: 10px;
    }
  }
  .btn-group{
    float: right;
    margin-top: 10px;
    .btn{
      margin-right: 10px;
    }
  }
}