.btn-group-container {
  display: flex;
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }
  .btn {
    border: none;
    border-radius: 0px;
  }
  .btn:not(:last-child) {
    border-right: 1px solid #d9d9d9;
  }
}