* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent; }

table {
  border-spacing: 0;
  background-color: transparent;
  border-collapse: collapse; }

.hide {
  display: none; }

.start-page-tip {
  position: absolute;
  z-index: 1;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
  white-space: nowrap;
  min-width: 200px;
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  font-family: cursive;
  padding: 0 10px 0 10px;
  text-align: center;
  line-height: 50px; }

body {
  background-image: url("bg.jpg");
  overflow-y: auto;
  overflow-x: hidden; }

/**/
.server-select {
  position: absolute;
  z-index: 1;
  width: 98%; }
  .server-select .input-icon span {
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-weight: bold; }
  .server-select #sendVerify {
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px; }
  .server-select .input-icon input {
    padding-left: 70px !important;
    height: 40px; }
  .server-select .box-login {
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
    max-width: 350px;
    background: #FFFFFF;
    margin: 0 auto !important;
    margin-top: 3% !important; }
    .server-select .box-login .page-header {
      text-align: center;
      border-bottom: 0;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 0; }
      .server-select .box-login .page-header h2 {
        font-weight: 300;
        margin-bottom: 10px;
        margin-top: 0;
        font-size: 30px;
        color: #5b5b60; }
        .server-select .box-login .page-header h2 img {
          height: 40px;
          vertical-align: middle;
          margin-right: 5px; }
    .server-select .box-login fieldset {
      background: #fff;
      border: 1px solid #e6e8e8;
      border-radius: 5px;
      margin: 20px 0 20px 0;
      padding: 25px;
      position: relative; }
      .server-select .box-login fieldset .form-group {
        margin-left: 0;
        margin-right: 0;
        position: relative;
        margin-bottom: 15px; }
        .server-select .box-login fieldset .form-group.form-actions {
          margin-top: 0;
          padding-top: 0;
          display: block; }
        .server-select .box-login fieldset .form-group #sel {
          margin-top: 7px;
          margin-left: 90px;
          width: 178px;
          font-family: inherit;
          font-size: 12px;
          line-height: inherit; }
          .server-select .box-login fieldset .form-group #sel:focus {
            outline: 1px dotted; }
        .server-select .box-login fieldset .form-group label {
          font-size: 20px;
          color: black;
          position: absolute;
          margin-top: 2px; }
        .server-select .box-login fieldset .form-group #login {
          margin-bottom: 10px; }
        .server-select .box-login fieldset .form-group .btn-primary {
          width: 100%;
          transition: all .3s ease 0s;
          color: #fff;
          background-color: #337ab7;
          display: inline-block;
          padding: 6px 12px;
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.42857143;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          -ms-touch-action: manipulation;
          touch-action: manipulation;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background-image: none;
          border: 1px solid transparent;
          border-radius: 4px; }
          .server-select .box-login fieldset .form-group .btn-primary:hover {
            color: #fff;
            background-color: #286090;
            border-color: #204d74; }
        .server-select .box-login fieldset .form-group .main-login {
          max-width: none;
          padding-top: 50px; }
        .server-select .box-login fieldset .form-group #turnBack {
          width: 100%;
          margin-bottom: 10px; }
        .server-select .box-login fieldset .form-group textarea {
          border-radius: 4px;
          height: 52px;
          width: 100%; }
          .server-select .box-login fieldset .form-group textarea:focus {
            outline: 1px dotted; }

.logo2 {
  width: 100%;
  height: 90vh; }
  .logo2 img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; }