@charset "UTF-8";
.sale-table {
  height: 57%;
  width: 100%; }

.sale-title .menu-bar tbody {
  display: flex !important; }
  .sale-title .menu-bar tbody tr {
    margin: auto;
    font-size: 24px; }

.table-container thead th {
  min-width: 31px; }

.table-container.menu-bar thead {
  display: none; }
.table-container.menu-bar tbody {
  display: block; }
  .table-container.menu-bar tbody tr td {
    font-weight: 400;
    border: none;
    text-align: left;
    white-space: nowrap; }

.sale-info {
  background-color: #F2F2F2;
  font-size: 14px;
  text-align: left !important;
  display: flex; }
  .sale-info .table-container {
    display: inline-table; }
    .sale-info .table-container thead {
      width: 100%; }
      .sale-info .table-container thead th {
        color: #666;
        padding: 0;
        border: none;
        background: none; }
    .sale-info .table-container tbody {
      width: 100%; }
      .sale-info .table-container tbody tr td {
        padding: 0;
        font-weight: 600;
        border: none;
        text-align: center; }

.sale-table {
  overflow-y: auto;
  width: 98%;
  height: calc(69% - 10px);
  border: 1px solid #eee;
  margin-left: 1%;
  background: #ffffff;
  border-radius: 4px;
  margin-bottom: 10px; }

table {
  border-top: 1px solid #eee;
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
  outline: none; }

th {
  font-weight: normal;
  text-align: center; }

thead th {
  background-color: #F7F8FA;
  color: #000;
  font-weight: bold; }

tbody tr {
  color: #000; }

td, th {
  padding: 3px;
  color: #000;
  font-size: 16px;
  text-align: center;
  white-space: nowrap; }

td {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee; }

th {
  border-right: 1px solid #F7F8FA;
  border-bottom: 1px solid #F7F8FA; }

.table-container.menu-bar thead {
  display: none; }
.table-container.menu-bar tbody {
  display: block; }
  .table-container.menu-bar tbody tr td {
    border: none;
    padding: 3px 10px; }

.sale-navigation {
  background-color: #ffffff;
  height: 100%; }
  .sale-navigation .sale-hotkey {
    display: inline-block;
    width: 70%;
    text-align: left; }
    .sale-navigation .sale-hotkey > div {
      margin-top: 1px;
      display: inline-block;
      width: 13%;
      text-align: center; }
      .sale-navigation .sale-hotkey > div > .iconfont::before {
        font-size: 26px;
        color: #3889FE; }
      .sale-navigation .sale-hotkey > div > p {
        color: black;
        margin-top: -4px;
        font-size: 14px;
        margin-bottom: 6px;
        font-weight: 600;
        white-space: nowrap; }

.sale-count {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #EBEBEB; }
  .sale-count .table-container {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: left; }
    .sale-count .table-container thead {
      position: absolute;
      width: 100%;
      display: table; }
      .sale-count .table-container thead th {
        color: #333;
        border: none;
        padding: 0;
        font-size: 23px; }
    .sale-count .table-container tbody {
      padding-left: 4%;
      position: absolute;
      width: 100%; }
      .sale-count .table-container tbody tr {
        width: 100%;
        display: table;
        background: none;
        margin-left: 60px;
        font-size: 15px; }
        .sale-count .table-container tbody tr td {
          color: #333;
          padding: 0;
          font-size: 23px;
          text-align: center;
          border: none;
          width: 25%; }
        .sale-count .table-container tbody tr td:nth-child(2) {
          color: red; }
  .sale-count label {
    display: inline-block;
    width: 22%;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: left; }

.sale-header {
  background-color: #fff;
  position: relative; }
  .sale-header .table-container tbody {
    display: inline-table; }
    .sale-header .table-container tbody tr :first-child {
      left: 90px;
      position: absolute;
      font-size: 16px;
      top: 31%; }
    .sale-header .table-container tbody tr :last-child {
      font-size: 32px;
      margin-left: -10%;
      top: 12%;
      position: absolute; }
  .sale-header .sale-title {
    margin: 0;
    padding: 0;
    font-size: 16px; }
    .sale-header .sale-title .name-stroe {
      margin: 5px;
      font-size: 24px; }
    .sale-header .sale-title .sale-light {
      display: inline-block;
      position: absolute;
      top: 34%;
      left: 10px; }
      .sale-header .sale-title .sale-light img {
        display: inline-block;
        margin-top: -3px; }
    .sale-header .sale-title .sale-time {
      display: inline-block;
      text-align: right;
      color: #000;
      position: absolute;
      top: 34%;
      right: 20px; }

.sale-log {
  font-size: 18px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  background-color: #333333;
  color: yellow; }
  .sale-log label {
    font-weight: 400; }
  .sale-log .icon-xinxi {
    margin-right: 4px; }
  .sale-log .log-loading {
    display: inline-block;
    position: absolute;
    right: 15px;
    color: white;
    bottom: 18px; }

.loading {
  width: 50px;
  height: 15px;
  margin: 0 auto;
  text-align: center; }

.loading span {
  display: inline-block;
  width: 3px;
  height: 100%;
  margin-right: 5px;
  background: white;
  -webkit-animation: load 1.04s ease infinite; }

.loading span:last-child {
  margin-right: 0; }

@-webkit-keyframes load {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2); }
  100% {
    opacity: .2;
    -webkit-transform: scale(0.2); } }
.loading span:nth-child(1) {
  height: 20%;
  -webkit-animation-delay: 0.13s; }

.loading span:nth-child(2) {
  height: 40%;
  -webkit-animation-delay: 0.26s; }

.loading span:nth-child(3) {
  height: 60%;
  -webkit-animation-delay: 0.39s; }

.loading span:nth-child(4) {
  height: 80%;
  -webkit-animation-delay: 0.52s; }

.loading span:nth-child(5) {
  -webkit-animation-delay: 0.65s; }

.main {
  height: 100vh;
  background-image: url("img/bg.jpg"); }
  .main .text-loading {
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 40vh; }

.modal-cashier {
  padding: 0 20px 0 20px !important;
  border-radius: 8px; }
  .modal-cashier .modal-header .modal-title {
    padding-left: 0; }
  .modal-cashier .menu {
    margin-top: -2px; }
  .modal-cashier .menu-bar {
    margin-top: 6px;
    border-top: none; }
    .modal-cashier .menu-bar th, .modal-cashier .menu-bar td {
      font-size: 16px; }
    .modal-cashier .menu-bar tbody {
      margin-bottom: 6px; }
      .modal-cashier .menu-bar tbody tr td {
        padding: 3px 4px !important; }

.cashier-body {
  position: relative;
  max-height: 70vh !important;
  min-width: 170px !important;
  overflow-y: unset;
  overflow-x: hidden; }
  .cashier-body .inputBox {
    background: #ccc;
    border-radius: 4px;
    line-height: 20px;
    color: black;
    margin: 15px 0 15px 0;
    text-align: center;
    height: 40px;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid #e5e5e5; }
  .cashier-body .has-table {
    max-height: 70vh;
    overflow-y: auto;
    width: auto; }
  .cashier-body .sale-bill {
    min-height: 35px; }
    .cashier-body .sale-bill .bill-content {
      font-size: 16px;
      padding: 6px 0;
      max-width: 250px;
      word-break: break-all; }
  .cashier-body .padding-30 {
    text-align: center;
    font-size: 16px; }
  .cashier-body .cashier-caption {
    border-bottom: 1px solid #e5e5e5;
    padding: 7px 0;
    font-weight: 600;
    font-size: 16px; }
  .cashier-body .padding-2 {
    padding: 2px 0; }
  .cashier-body .swipe {
    display: inline-block;
    padding: 7px 15px; }
  .cashier-body .table-container {
    border-bottom: 1px solid #e5e5e5; }
  .cashier-body > .inputBox {
    border-top: none; }

.modal-wrapper.width-500 {
  min-width: 580px !important;
  padding: 0 3px 35px 3px !important; }
  .modal-wrapper.width-500 .modal-body.cashier-body {
    padding: 0 7px 0 7px !important; }
  .modal-wrapper.width-500 .head-wrapper {
    width: calc(100% - 40px);
    margin-left: 20px; }
  .modal-wrapper.width-500 .has-table {
    border: .5px solid #EEEEEE;
    border-radius: 4px; }

.modal-wrapper {
  min-width: 0 !important;
  outline: none; }

.has-table {
  min-width: 0 !important; }

.head-wrapper .close {
  display: none; }

.menu-value .table-container th {
  padding: 10px;
  font-size: 18px; }
.menu-value .table-container td {
  padding: 7px 16px;
  font-size: 18px; }

.menu-value.modal-body {
  width: 500px;
  font-size: 16px; }
  .menu-value.modal-body .has-table {
    border: 1px solid #ccc;
    margin-top: -2px;
    border-radius: 4px; }

#login {
  background-color: #333333;
  height: 100vh;
  color: white;
  padding-top: 100px; }
  #login .main-login {
    animation-duration: 0.75s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    max-width: 360px;
    text-align: center;
    margin: 0 auto; }
    #login .main-login .center-title {
      margin: 0 auto;
      position: relative;
      height: 50px; }
      #login .main-login .center-title > span {
        font-size: 30px;
        display: block;
        margin-left: 20px;
        width: 150px;
        float: left; }
      #login .main-login .center-title img {
        height: 50px;
        display: block;
        float: left;
        margin-left: 66px; }
    #login .main-login .center-log {
      width: 250px;
      background: white;
      font-size: 20px;
      padding: 15px 30px;
      border-radius: 4px;
      color: black;
      margin: 80px auto; }
    #login .main-login .info {
      width: 250px;
      padding: 8px;
      height: 36px;
      margin: 80px auto;
      background-color: #232323;
      border-radius: 100px;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      box-shadow: inset 0 5px 10px -5px #191919, 0 1px 0 0 #444;
      -moz-box-shadow: inset 0 5px 10px -5px #191919,0 1px 0 0 #444;
      -webkit-box-shadow: inset 0 5px 10px -5px #191919, 0 1px 0 0 #444; }
  #login .msg-login {
    position: fixed;
    left: 10px;
    bottom: 8px; }

.cashier-conf .nav.nav-tabs.nav-tabs-line {
  padding-left: 0;
  margin-bottom: 18px;
  display: -webkit-box;
  list-style: none;
  margin-top: 0; }
  .cashier-conf .nav.nav-tabs.nav-tabs-line:first-child {
    margin-left: 90px; }
  .cashier-conf .nav.nav-tabs.nav-tabs-line li {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block; }
    .cashier-conf .nav.nav-tabs.nav-tabs-line li:focus {
      outline: 1px dotted; }
    .cashier-conf .nav.nav-tabs.nav-tabs-line li a {
      cursor: default;
      background-color: #fff;
      margin-right: 2px;
      line-height: 1.42857143;
      position: relative;
      display: block;
      padding: 6px 15px; }
.cashier-conf .text-input > input {
  height: 25px; }
.cashier-conf .print-conf .conf-row {
  margin-bottom: 10px; }
  .cashier-conf .print-conf .conf-row .select-box:focus {
    outline: 1px dotted; }
  .cashier-conf .print-conf .conf-row .print-server, .cashier-conf .print-conf .conf-row .print-printer, .cashier-conf .print-conf .conf-row .print-row, .cashier-conf .print-conf .conf-row .print-scenes, .cashier-conf .print-conf .conf-row .print-msg, .cashier-conf .print-conf .conf-row .print-text {
    width: 220px;
    border: .5px solid #ccc;
    border-radius: 3px;
    margin-left: 7px; }
  .cashier-conf .print-conf .conf-row .print-check {
    margin-left: 88px; }
  .cashier-conf .print-conf .conf-row .print-server-text {
    width: 44%;
    margin-left: 6px;
    border: .5px solid #ccc;
    border-radius: 3px; }
  .cashier-conf .print-conf .conf-row .print-btn button:focus {
    outline: 1px dotted #aaaaaa; }
  .cashier-conf .print-conf .conf-row .print-msg {
    color: #000000;
    width: 70px;
    height: 26px;
    padding: 4px; }
  .cashier-conf .print-conf .conf-row .text-input {
    width: 100%; }
  .cashier-conf .print-conf .conf-row .print-showdown {
    margin-left: 30px; }
  .cashier-conf .print-conf .conf-row .text {
    width: 78px;
    text-align: right;
    font-weight: 600;
    color: black; }
  .cashier-conf .print-conf .conf-row .print-row {
    border: none;
    width: 72px;
    margin-left: 6px; }
    .cashier-conf .print-conf .conf-row .print-row .text-input input {
      margin-left: 24px;
      border: 1px solid #ccc; }
    .cashier-conf .print-conf .conf-row .print-row .text-input .icon-jiahao {
      padding: 3px;
      border: 1px solid #ccc;
      margin-left: -53px;
      position: absolute;
      border-right: none;
      width: 25px; }
      .cashier-conf .print-conf .conf-row .print-row .text-input .icon-jiahao:before {
        font-size: 12px;
        display: block;
        color: black;
        font-weight: 600; }
    .cashier-conf .print-conf .conf-row .print-row .text-input .icon-jianhao {
      border: 1px solid #ccc;
      display: block;
      border-left: none;
      margin-right: -7px;
      width: 25px; }
      .cashier-conf .print-conf .conf-row .print-row .text-input .icon-jianhao:before {
        font-size: 12px;
        display: block;
        margin-top: 3px;
        color: black;
        font-weight: 600; }
  .cashier-conf .print-conf .conf-row .print-boot {
    margin-left: 88px; }
  .cashier-conf .print-conf .conf-row > div {
    display: inline-block; }
.cashier-conf .rfid-conf .rfid-row {
  margin-left: 10px; }
  .cashier-conf .rfid-conf .rfid-row .text {
    color: #000000;
    font-weight: 600; }
  .cashier-conf .rfid-conf .rfid-row > div {
    display: inline-block; }
  .cashier-conf .rfid-conf .rfid-row .btn-left .btn, .cashier-conf .rfid-conf .rfid-row .btn-center .btn, .cashier-conf .rfid-conf .rfid-row .btn-right .btn {
    border: .5px solid #cccccc;
    color: #000000;
    outline: none;
    cursor: pointer; }
    .cashier-conf .rfid-conf .rfid-row .btn-left .btn:focus, .cashier-conf .rfid-conf .rfid-row .btn-center .btn:focus, .cashier-conf .rfid-conf .rfid-row .btn-right .btn:focus {
      outline: 1px dotted #cccccc; }
  .cashier-conf .rfid-conf .rfid-row .row-left .rfid-select:focus {
    outline: 1px dotted; }
  .cashier-conf .rfid-conf .rfid-row .row-left .rfid-select [data-index="0"] .label-radio {
    margin-bottom: 15px; }
  .cashier-conf .rfid-conf .rfid-row .row-left .rfid-select .label-radio {
    font-weight: 600;
    color: black;
    font-size: 12px; }
    .cashier-conf .rfid-conf .rfid-row .row-left .rfid-select .label-radio:before {
      border: 1px solid #007AFF;
      width: 15px;
      height: 15px;
      bottom: 4px; }
    .cashier-conf .rfid-conf .rfid-row .row-left .rfid-select .label-radio:after {
      width: 9px;
      height: 9px;
      top: 6px;
      left: 3px; }
  .cashier-conf .rfid-conf .rfid-row .row-right {
    width: 233px;
    margin-left: 10px; }
    .cashier-conf .rfid-conf .rfid-row .row-right .line, .cashier-conf .rfid-conf .rfid-row .row-right .unline {
      height: 37px; }
    .cashier-conf .rfid-conf .rfid-row .row-right > div {
      display: inline-block; }
    .cashier-conf .rfid-conf .rfid-row .row-right .rfid-ip {
      width: 103px; }
    .cashier-conf .rfid-conf .rfid-row .row-right .rfid-port {
      width: 70px; }
    .cashier-conf .rfid-conf .rfid-row .row-right .text-baud {
      margin-left: 10px; }
    .cashier-conf .rfid-conf .rfid-row .row-right .rfid-com .text-input, .cashier-conf .rfid-conf .rfid-row .row-right .rfid-baud .text-input {
      border: .5px solid #ccc;
      border-radius: 3px;
      width: 70px; }
      .cashier-conf .rfid-conf .rfid-row .row-right .rfid-com .text-input input, .cashier-conf .rfid-conf .rfid-row .row-right .rfid-baud .text-input input {
        width: 100% !important; }
      .cashier-conf .rfid-conf .rfid-row .row-right .rfid-com .text-input .iconfont, .cashier-conf .rfid-conf .rfid-row .row-right .rfid-baud .text-input .iconfont {
        padding: 4px; }
  .cashier-conf .rfid-conf .rfid-row .rfid-aerial {
    border: none;
    width: 72px; }
    .cashier-conf .rfid-conf .rfid-row .rfid-aerial .text-input input {
      margin-left: 24px;
      border: 1px solid #ccc; }
    .cashier-conf .rfid-conf .rfid-row .rfid-aerial .text-input .icon-jiahao {
      padding: 3px;
      border: 1px solid #ccc;
      margin-left: -53px;
      position: absolute;
      border-right: none;
      width: 25px; }
      .cashier-conf .rfid-conf .rfid-row .rfid-aerial .text-input .icon-jiahao:before {
        font-size: 12px;
        display: block;
        color: black;
        font-weight: 600; }
    .cashier-conf .rfid-conf .rfid-row .rfid-aerial .text-input .icon-jianhao {
      border: 1px solid #ccc;
      display: block;
      border-left: none;
      margin-right: -7px;
      width: 25px; }
      .cashier-conf .rfid-conf .rfid-row .rfid-aerial .text-input .icon-jianhao:before {
        font-size: 12px;
        display: block;
        margin-top: 3px;
        color: black;
        font-weight: 600; }
  .cashier-conf .rfid-conf .rfid-row .rfid-buzz {
    margin-left: 15px; }
  .cashier-conf .rfid-conf .rfid-row .rfid-led {
    margin-left: 20px; }
.cashier-conf .rfid-conf .rfid-content {
  border: .5px solid #bbb;
  border-radius: 4px;
  padding: 5px;
  overflow-y: auto;
  margin-bottom: 13px;
  margin-top: 12px;
  height: 124px; }
.cashier-conf .rfid-conf .btn-group {
  margin-left: 0;
  margin-bottom: 8px; }
.cashier-conf .foot-wrapper button {
  border: 1px solid #d9d9d9;
  cursor: pointer; }
.cashier-conf .text-input input:focus {
  outline: 1px dotted; }

.cashier-quit .quit {
  padding: 10px; }

.dropdown-menu {
  min-width: 160px; }

.select-box .label-checkbox {
  color: #000000;
  font-size: 12px;
  font-weight: 600; }

.modal-box .modal-loading.modal-wrapper {
  z-index: 1010; }

.content {
  max-width: 392px;
  margin: 0 auto;
  padding: 0 10px; }
  .content .reg-content .reg-btn {
    width: 100%;
    position: relative; }
    .content .reg-content .reg-btn #saveReg, .content .reg-content .reg-btn #goLogin {
      font-size: 16px;
      display: block;
      width: 100%;
      margin-top: 20px;
      padding: 7px 0;
      color: #fff;
      border-radius: 3px;
      border: 1px solid #007aff;
      background-color: #007aff;
      float: left; }
    .content .reg-content .reg-btn #goLogin {
      margin-right: 8%; }
  .content .reg-content .msg-tip h5 {
    font-weight: 400;
    color: #8f8f94; }
  .content .reg-content .msg-device {
    position: relative;
    padding: 0;
    background-color: #fff; }
    .content .reg-content .msg-device .input-row {
      height: 40px;
      position: relative;
      clear: left;
      overflow: hidden; }
      .content .reg-content .msg-device .input-row:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 15px;
        height: 1px;
        content: '';
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        background-color: #c8c7cc; }
      .content .reg-content .msg-device .input-row label {
        width: 90px;
        font-family: 'Helvetica Neue',Helvetica,sans-serif;
        line-height: 1.1;
        float: left;
        padding: 11px 15px; }
      .content .reg-content .msg-device .input-row input, .content .reg-content .msg-device .input-row [data-name="mac_id"] {
        height: 100%;
        width: calc(100% - 90px);
        float: left;
        margin-bottom: 0;
        padding-left: 0;
        border: 0; }
        .content .reg-content .msg-device .input-row input .text-input, .content .reg-content .msg-device .input-row [data-name="mac_id"] .text-input {
          height: 100%; }
          .content .reg-content .msg-device .input-row input .text-input .btn-group, .content .reg-content .msg-device .input-row [data-name="mac_id"] .text-input .btn-group {
            top: 9px; }
          .content .reg-content .msg-device .input-row input .text-input input, .content .reg-content .msg-device .input-row [data-name="mac_id"] .text-input input {
            width: 100% !important; }
        .content .reg-content .msg-device .input-row input:focus, .content .reg-content .msg-device .input-row [data-name="mac_id"]:focus {
          outline: 1px dotted; }
  .content .reg-head {
    padding-top: 80px;
    text-align: center; }
    .content .reg-head .reg-title {
      font-family: "NSimSun", 新宋体 !important; }

.font-size-16 {
  font-size: 16px;
  padding: 8px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent; }

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700; }

table {
  border-spacing: 0;
  background-color: transparent;
  border-collapse: collapse; }

img {
  vertical-align: middle;
  border: 0; }

p {
  margin: 0 0 10px; }

body {
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #F2F2F2;
  border: 1px solid #eee;
  padding: 0;
  color: #666;
  height: 100vh;
  overflow: hidden; }
  body .page-container {
    height: 100%;
    outline: none; }
  body .hide {
    display: none; }
  body .color-red {
    color: red !important; }
  body .link-test {
    border: none; }
  body .tip {
    padding: 0 16px;
    height: 80px;
    line-height: 80px; }
  body .cash-content {
    height: calc(100% - 35px); }
  body .cashier-body {
    padding: 0 0 0 0 !important; }
    body .cashier-body p {
      text-align: center; }
      body .cashier-body p:first-child {
        padding-top: 15px; }
  body .align-center {
    text-align: center; }
  body input {
    outline: none; }
  body .tr-select {
    background-color: #3889FE; }
    body .tr-select td {
      color: #fff; }
  body .tab-pane {
    display: none; }
  body .tab-pane.active {
    display: block; }

.text-input input:focus {
  outline: 1px dotted; }

.icon-zhiwen {
  color: red; }
  .icon-zhiwen::before {
    color: red;
    font-size: 22px;
    position: absolute;
    left: 0;
    top: 27px; }

.disabled {
  pointer-events: none !important; }

/*# sourceMappingURL=style.css.map */
