.authorized_page {
  .login-logo {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 58px;
    img {
      display: inline-block;
      width: 104px;
      height: 95px;
    }
  }
  .form_content {
    margin: auto 30px;
    .form_item {
      display: flex;
      margin-bottom: 25px;
      align-items: center;
      height: 45px;
      border-bottom: 1px solid #d3d3d39e;
      label {
        width: 46px;
        font-size: 17px;
        color: #333;
        margin-right: 18px;
        flex: 1 0 auto;
      }
      input {
        margin: 0px;
        padding: 0px;
        border: none;
        font-size: 17px;
        color: #333;
      }
       ::input-placeholder {
        color: #b0b0b0;
      }
      .password-show {
        width: 54px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .appcommon {
          zoom: 1.4;
        }
      }
      .active {
        color: #005BAC!important;
      }
      .password-show:active {
        background-color: white;
      }
    }
    .authorized_btn {
      display: inline-block;
      width: 100%;
      background: #005BAC;
      color: white;
      font-size: 18px;
      padding: 14px;
      border-radius: 8px;
      margin-top: 30px;
    }
  }
}