
#content_page > div > div {
    padding: 0;
}
.chart-page{
    height: calc(100vh - 63px);
    width: 100%;
    position: relative;
    &>section {
        width: 10%;
        height: 10%;
        position: absolute;
        top: 20%;
        left: 20%;
        background-color: yellow;
    }
}