
// #content_page > div > div {
//     padding: 0;
// }
.chart-page{
    background: gainsboro;
    height: calc(100vh - 63px);
    width: 100%;
    position: relative;
    .workbeanch-menu {
        font-family: 'Arial Normal', 'Arial';
        font-style: normal;
        font-size: 13px;
        display: flex;
        justify-content: space-around;
        position: absolute;
        flex-wrap: wrap;
        // align-items: flex-start;
        align-content: flex-start;
        margin: 5px;
        background: white;
        overflow: scroll;
        button {
            width: 140px;
            height: 40px;
            background-color: #609ee9;
            border-radius: 5px;
            color: #FFFFFF;
            border: none;
            margin-top: 8px;
            &:hover {
                background-color: #007AFF;
            }
            
            
        }
    }
    .workbeanch-chart, .table-chart {
        position: absolute;
        padding: 5px;
        // box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        .chart-table {
            height: 100% !important;
            width: 100% !important;
            .chart-container {
                height: 100% !important;
            }
        }
    }
    .table-notice-bar {
        position: absolute;
        margin: 5px;
        background-color: white;
        overflow: auto;
        // display: flex;
        // justify-content: flex-start;
        // align-content: flex-start;
        // flex-wrap: wrap;
        padding: 5px;
        min-width: calc(10% - 10px);
        .notice-column {
            width: 170px;
            height: 50px;
            position: relative;
            line-height: 50px;
            padding: 0 10px;
            float: left;
            
            i{
                // display: inline-block;
                float: left;
            }
            span{
                width: 62px;
                display: inline-block;
                overflow: hidden;
                white-space:nowrap;
                text-overflow:ellipse;
                text-align: center;
                &.notice-value {
                    text-align: left;
                }
                &.notice-name {
                    font-weight: 900;
                    font-size: 16px;

                }
            }
            &::after{
                content: '';
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid gainsboro;
            }
        }
    }
    .table-module {
        position: absolute;
        margin: 5px;
        background-color: white;
        overflow: auto;
        font-size: 25px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        .notice-column {
            display: inline-block;
        }
        
        i{
            font-weight: 900;
            margin: 0 5px;
            
        }
        .icon-asc {
            color: red;
        }
        .icon-desc {
            color: rgb(111,207,14);
            
        }
    }
}