/*.mui-input-group:first-child {
  margin-top: 20px;
}
.mui-input-group label {
  width: 22%;
}
.mui-input-row label ~ input,
.mui-input-row label ~ select,
.mui-input-row label ~ textarea {
  width: 78%;
}
.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
  top: 6px;
}
.mui-content-padded {
  margin-top: 25px;
}
.link-area {
  display: block;
  margin-top: 50px;
  text-align: center;
}
.link-area a{
  display: inline-block;
  width: 32%;
}
.link-area a.hide{
  display: none;
}
.link-area a span{
  display: inline-block;
  font-size: 12px;
  margin-top: 5px;
}
.link-area a span:last-child{
  color: #aaa;
}

.link-area a .iconfont{
  font-size: 45px;
  line-height: 20px;
}
.spliter {
  color: #bbb;
  padding: 0 8px;
}
.big{
  .link-area a br~span{
    font-size: 16px;
  }
  .mui-input-group label {
    font-size: 16px;
  }
  .mui-input-row label ~ input,
  .mui-input-row label ~ select,
  .mui-input-row label ~ textarea {
    font-size: 16px;
  }
  .mui-checkbox input[type=checkbox],
  .mui-radio input[type=radio] {
    font-size: 16px;
  }
  .mui-table-view-cell{
    font-size: 16px;
  }
}
.super-fontsize{
  .link-area a br~span{
    font-size: 20px;
  }
  .mui-input-group label {
    font-size: 20px;
  }
  .mui-input-row label ~ input,
  .mui-input-row label ~ select,
  .mui-input-row label ~ textarea {
    font-size: 20px;
  }
  .mui-checkbox input[type=checkbox],
  .mui-radio input[type=radio] {
    font-size: 20px;
  }
  .mui-table-view-cell{
    font-size: 20px;
  }
}*/
//.mui-btn-outlined.mui-btn-blue, .mui-btn-outlined.mui-btn-primary{
//  background: #4CB6FF;
//}
.login-header{
  background-color: transparent;
  box-shadow: none;
  .header-content{
    position: relative;
  }
  .login-register,.login-untied{
    border: none;
    background-color: transparent;
    color: $primary;
    font-size: 16px;
    height: auto;
    padding: 10px;
    line-height: 24px;
  }
}

.login-wrapper{
  min-height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;

  &.modal-body-login{

    .login-title{
      margin: 0;
      padding: 50px 0 60px;
      text-align: center;
      font-size: 23px;
      color: $title;
    }
    .login-form {
      .form-group {
        input {
          width: 100%;
        }
      }
    }

    .get-code-btn{
      height: 30px;
      border-radius: 15px;
      background-color: $default_5;
      color: $primary;
      border: none;
      font-size: 12px;
      position: absolute;
      top: 5px;
      right: 0;
    }
  }

  .login-logo{
    position: relative;
    padding: 10px 0 30px;
    img{
      display: block;
      width: 100px;
      margin: 0 auto;
    }

  }

  .login-form{
    padding: 0 30px;
    .form-group{
      position: relative;
      border-bottom: 1px solid #ccc;
      margin-bottom: 15px;
      label{
        line-height: 21px;
        font-size: 16px;
        color: $title;
      }
      input{
        border: none;
        width: 80%;
        margin: 0;
        font-size: 16px;
      }
      input:first-child{
        padding-left: 0;
      }
      .password-show{
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        .appcommon{
          font-size: 20px;
        }
        &.checked{
          color: $primary
        }
      }

      &.checkbox-group{
        border: none;
        div{
          font-size: 15px;
          color: $default_3;
        }
      }
    }

    .btn-group{
      .login-submit{
        display: block;
        height: 50px;
        background-color: $primary;
        color: #fff;
        width: 100%;
        font-size: 16px;
      }
    }
  }

  .login-more{
    padding: 12px 30px;
    .login-tel-msg, .login-fqa{
      text-align: center;
      button{
        border: none;
        color: $primary;
      }
    }
    .login-fqa{
      margin-top: 35px;
    }
    .login-link-list{
      margin-top: 15px;
      padding: 0 40px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-box-align: center;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      a{
        display: inline-block;
        width: 54px;
        font-size: 12px;
        text-align: center;
        color: $text;
        .iconfont{
          display: block;
          width: 48px;
          height: 48px;
          border-radius: 24px;
          color: #fff;
          text-align: center;
          margin: 0 auto 10px;
        }

        &.zhiwen{
          .iconfont {
            background: rgb(255, 180, 0);
            line-height: 50px;
            font-size: 30px;
          }
        }
        &.weixin{
          .iconfont {
            background-color: rgb(68, 196, 11);
            line-height: 52px;
            font-size: 40px;
          }
        }
      }
    }
  }
}

.sms-login.modal-mobile{
  background: #fff!important;
  .head-wrapper>.modal-header{
    background-color: #fff!important;
    box-shadow: none!important;
    border: none!important;
  }
}