.login-page-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .scan_logo {
    text-align: center;
    margin-bottom: 45px;
  }
  .has_logined {
    width: 328px;
    border-radius: 6px;
    background-color: white;
    text-align: center;
    padding: 60px 18px 8px;
    color: rgb(153, 153, 153);
    box-shadow: -2px 1px 21px 0px rgba(0, 91, 172, 0.11);
    border-top: 4px solid #005BAC;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    .current_user {
      font-size: 14px;
      color: #333;
      margin-bottom: 20px;
    }
    .current_name {
      color: #333;
      font-size: 18px;
      margin-bottom: 40px;
    }
    .user_icon {
      display: inline-block;
      margin-top: 5px;
      margin-bottom: 20px;
      background-color: #F3f3f3;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      vertical-align: bottom;
      .iconfont {
        font-size: 38px !important;
        display: inline-block;
        margin-top: 4px;
      }
    }
    button {
      color: white;
      display: inline-block;
      background-color: #169BDF;
      width: 140px;
      border: none;
      padding-top: 1;
      padding: 6px auto;
      padding: 5px;
      border-radius: 5px;
    }
    .has_logined_footer {
      display: flex;
      justify-content: space-between;
      margin: 28px 17px 40px;
    }
    #js_login_btn {
      width: 260px;
      height: 40px;
      background-color: #005BAC;
      border-radius: 4px;
    }
    #js_cue {
      cursor: pointer;
    }
    #js_other {
      cursor: pointer;
    }
    #js_other:hover,
    #js_cue {
      color: #169BDF;
    }
    #js_cue:hover {
      color: rgb(153, 153, 153);
    }
  }
  .code_login {
    width: 328px;
    box-shadow: -2px 1px 21px 0px rgba(0, 91, 172, 0.11);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 46px 0px 40px 0px;
    border-top: 4px solid #005BAC;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    p {
      margin: 24px auto;
    }
    .cav_wrapper {
      position: relative;
    }
    .refresh_code {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      right: 0px;
      background-color: white;
      z-index: 999;
      opacity: 0.95;
      text-align: center;
      display: none;
      span {
        display: block;
        color: #333;
        font-size: 16px;
        font-weight: 600;
        margin: 35px auto 20px;
      }
      div {
        display: block;
        font-size: 14px;
        color: white;
        width: 100%;
        background-color: #005BAC;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
      }
      div:hover {
        color: #333;
      }
    }
    #code_login_cav {
      width: 150px;
      height: 150px;
      animation-name: fadeIn;
      animation-fill-mode: backwards;
      animation-duration: 1s;
      animation-timing-function: ease-in;
    }
    .tip {
      color: #005bac;
      font-size: 14px;
      margin: 40px auto;
    }
    #close {
      cursor: pointer;
      font-size: 14px;
      color: #666;
    }
  }
  .login-wrapper {
    width: 40.5%;
    height: 73.4%;
    font-family: MicrosoftYaHei;
    min-width: 375px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    .logo {
      text-align: center;
      .text {
        font-size: 30px;
        margin-top: 10px;
        color: $title;
        text-align: center;
      }
      img {
        max-height: 100px;
      }
    }
    .login-form {
      width: 100%;
      height: 66.4%;
      margin-top: 8.1%;
      background-color: #ffffff;
      box-shadow: -2px 1px 21px 0px rgba(0, 91, 172, 0.11);
      border-radius: 3px;
      border-top: 5px solid #005bac;
      padding-top: 65px;
      padding-bottom: 31px;
      .form-group {
        width: 65.4%;
        margin: 0 auto;
        margin-top: 20px;
        &>input {
          padding: 0 10px;
          width: 100%;
          height: 40px;
          background-color: #ffffff;
          border-radius: 3px;
          color: #3a3a3a;
          padding-left: 10px;
          border: solid 1px #e2e2e2;
          &:focus {
            border: solid 1px #005bac;
          }
        }
        &.checkbox-group {
          color: #b0b0b0;
          div.checkbox-wrapper {
            float: left;
            font-size: 14px;
          }
          div.forget-pwd {
            float: right;
            a {
              color: #b0b0b0;
            }
          }
          &:after {
            content: '';
            width: 0;
            height: 0;
            display: block;
            visibility: hidden;
            clear: both;
          }
        }
      }
      .btn-group {
        width: 65.4%;
        height: 40px;
        margin-top: 24px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        button {
          width: 100%;
          height: 100%;
          background-color: #005bac;
          border-radius: 3px;
          color: #ffffff;
        }
      }
      .login-option {
        width: 100%;
        height: 72px;
        margin: 0 auto;
        margin-top: 21px;
        display: flex;
        justify-content: center;
        a {
          display: inline-block;
          color: #333333;
          margin-right: 18px;
          .iconfont {
            display: block;
            width: 46px;
            height: 46px;
            border-radius: 23px;
            color: #ffffff;
            text-align: center;
            margin: 0 auto 10px;
          }
          &.zhiwen,
          &.device,
          &.scanLogin,
          &.jiebang {
            .iconfont {
              line-height: 50px;
              font-size: 27px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          &.zhiwen {
            .iconfont {
              background-color: #ffb400;
            }
          }
          &.device {
            .iconfont {
              background-color: #33c3a2;
            }
          }
          &.jiebang {
            .iconfont {
              background-color: #ff7c83;
            }
          }
          &.scanLogin {
            .iconfont {
              background-color: #1AA0F9;
              &::before {
                margin-top: 2px!important;
              }
            }
          }
        }
        a:last-child {
          margin-right: 0px;
        }
      }
    }
    .footer {
      width: 33.7%;
      height: 8.6%;
      margin: 0 auto;
      margin-top: 22px;
      .login-fqa {
        button {
          border: none;
          background-color: transparent;
          color: #004078;
          position: relative;
          left: 50%;
          transform: translate(-50%);
          span {
            margin: 0 auto;
          }
        }
      }
      .copyright {
        color: #b0b0b0;
        text-align: center;
        min-width: 160px;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (min-width: 1200px) {
  .login-wrapper {
    width: 35% !important;
  }
}

.cancel-bind-wrapper {
  .register-wrapper {
    min-width: 500px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    .logo {
      text-align: center;
      img {
        max-height: 100px;
      }
    }
    .register-content {
      width: 100%;
      height: 438px;
      margin-top: 8.1%;
      background-color: #ffffff;
      box-shadow: -2px 1px 21px 0px rgba(0, 91, 172, 0.11);
      border-radius: 3px;
      border-top: 5px solid #005bac;
      padding-top: 48px;
      .register-title {
        text-align: center;
        font-size: 24px;
        color: #333333;
        line-height: 50px;
      }
      .register-form {
        .form-group {
          margin: 0 auto;
          margin-top: 20px;
          width: 65.4%;
          input {
            padding: 0 10px;
            width: 100%;
            height: 40px;
            background-color: #ffffff;
            border-radius: 3px;
            border: solid 1px #e2e2e2;
            color: #b0b0b0;
            padding-left: 10px;
            color: #3a3a3a;
            &:focus {
              border: solid 1px #005bac;
            }
          }
          .more-group {
            width: 81px;
            height: 22px;
            position: absolute;
            right: 1px;
            top: 10px;
            button {
              width: calc(100% - 2px);
              height: 22px;
              line-height: 22px;
              background-color: #f2f2f2;
              border-radius: 2px;
              span {
                width: 60px;
                height: 11px;
                font-size: 12px;
                line-height: 11px;
                color: #005bac;
              }
            }
          }
        }
        .btn-group-cancel {
          display: block;
          width: 100%;
          height: 92px;
          margin: 0 auto;
          margin-top: 30px;
          .register-submit {
            width: 100%;
            height: 40px;
            background-color: #005bac;
            border-radius: 3px;
            color: #ffffff;
          }
          .goLogin {
            margin-top: 20px;
            background-color: transparent;
            color: #005bac;
            border: none;
            position: relative;
            left: 50%;
            transform: translate(-50%);
          }
        }
      }
    }
    .footer {
      width: 33.7%;
      height: 8.6%;
      margin: 0 auto;
      margin-top: 22px;
      .login-fqa {
        button {
          border: none;
          background-color: transparent;
          color: #004078;
          position: relative;
          left: 50%;
          transform: translate(-50%);
          span {
            margin: 0 auto;
          }
        }
      }
      .copyright {
        color: #b0b0b0;
        text-align: center;
        min-width: 160px;
      }
    }
  }
}