//.loginPage{
//  .error{
//    color: red !important;
//    border-color: red!important;
//  }
//  #login-form .form-control.error + .fa{
//    color: red!important;
//  }
//  .main-login .form-actions {
//    padding-top: 0;
//    display: block;
//  }
//  .page-header{
//    text-align: center;
//    border-bottom: 0;
//    margin-top: 80px;
//  }
//  .page-header img{
//    height: 40px;
//    margin-right: 5px;
//  }
//  .clip-check{
//    display: inline-block;
//    margin: 0;
//  }
//
//  .main-login{
//    animation-duration: 0.75s;
//    animation-fill-mode: both;
//    animation-name: fadeInUp;
//    max-width: 360px;
//    margin:0 auto;
//    padding: 0 10px;
//  }
//  @keyframes fadeInUp {
//    0% {
//      opacity: 0;
//      transform: translateY(20px);
//    }
//    100% {
//      opacity: 1;
//      transform: translateY(0);
//    }
//  }
//  @media screen and (min-width: 1400px) {
//    .main-login {
//      /*padding:0px 50px;*/
//    }
//  }
//  .input-icon>input{
//    height: 42px;
//    font-size: 16px;
//  }
//  //.fa{
//  //  top: 4px !important;
//  //}
//  .forgot{
//    top: 13px !important;
//  }
//  .popover{
//    width: 200px;
//  }
//  .popover .arrow{
//    top: 50%;
//  }
//  #urlBtn{
//    height: 40px;
//    margin-right: 5px;
//  }
//  .form-actions{
//    margin-top: 20px !important;
//  }
//  #login{
//    width:80px;
//    position: relative;
//    float: right;
//  }
//  #login:hover .iconfont{
//    left: 40%;
//  }
//  .otherLogin{
//    border-top: 1px dashed #ccc
//  }
//  .otherLogin .btn{
//    margin-top: 20px;
//    height: 42px;
//    padding: 0;
//  }
//  .otherLogin>.btn>span{
//    line-height: 42px;
//  }
//  .otherLogin span.text{
//    font-size: 16px;
//  }
//  .modal-body i{
//    float: left;
//  }
//  #fingerTip{
//    padding-left: 40px;
//    margin-top: 10px;
//  }
//}

//.login-wrapper {
//    min-height: 100%;
//    width: 100%;
//    background-color: #fff;
//    position: relative;
//
//    .login-logo, .login-form, .login-more{
//        display: flex;
//        justify-content: center;
//        align-items: center;
//    }
//}
.login-page-container{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-wrapper{
        width: 40.5%;
        height: 73.4%;
        font-family: MicrosoftYaHei;
        min-width: 375px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;

        .logo{
            text-align: center;
        }

        .login-form{
            width: 100%;
            height: 66.4%;
            margin-top: 8.1%;
            background-color: #ffffff;
            box-shadow: -2px 1px 21px 0px rgba(0, 91, 172, 0.11);
            border-radius: 3px;
            border-top: 5px solid #005bac;
            padding-top: 65px;
            padding-bottom: 31px;

            .form-group{
                width: 65.4%;
                margin: 0 auto;
                margin-top: 20px;

                &>input{
                    padding: 0 10px;
                    width: 100%;
                    height: 40px;
                    background-color: #ffffff;
                    border-radius: 3px;
                    color: #3a3a3a;
                    border: solid 1px #e2e2e2;
                    &:focus{
                        border: solid 1px #005bac;
                    }
                }

                &.checkbox-group{
                    color: #b0b0b0;

                    div.checkbox-wrapper{
                        float: left;
                        font-size: 14px;
                    }
                    div.forget-pwd{
                        float: right;
                        a{
                            color: #b0b0b0;
                        }
                    }
                    &:after{
                        content: '';
                        width: 0;
                        height: 0;
                        display: block;
                        visibility: hidden;
                        clear: both;
                    }
                }
            }

            .btn-group{
                width: 65.4%;
                height: 40px;
                margin-top: 24px;
                position: relative;
                left: 50%;
                transform: translate(-50%);

                button{
                    width: 100%;
                    height: 100%;
                    background-color: #005bac;
                    border-radius: 3px;
                    color: #ffffff;
                }
            }

            .login-option{
                width: 218px;
                height: 72px;
                margin: 0 auto;
                margin-top: 21px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-box-align: center;
                display: -webkit-flex;
                display: flex;
                -webkit-justify-content: space-around;
                justify-content: space-around;

                a{
                    display: inline-block;
                    color: #333333;
                    .iconfont{
                        display: block;
                        width: 46px;
                        height: 46px;
                        border-radius: 23px;
                        color: #ffffff;
                        text-align: center;
                        margin: 0 auto 10px;
                    }

                    &.zhiwen{
                        .iconfont {
                            background-color: #ffb400;
                            line-height: 50px;
                            font-size: 27px;
                        }
                    }
                    &.device{
                        .iconfont {
                            background-color: #33c3a2;
                            line-height: 52px;
                            font-size: 35px;
                        }
                    }
                }
            }

        }
        .footer{
            width: 33.7%;
            height: 8.6%;
            margin: 0 auto;
            margin-top: 22px;

            .login-fqa{
                button{
                    border: none;
                    background-color: transparent;
                    color: #004078;
                    position: relative;
                    left: 50%;
                    transform: translate(-50%);

                    span{
                        margin: 0 auto;
                    }
                }
            }

            .copyright{
                color: #b0b0b0;
                text-align: center;
                min-width: 160px;
            }
        }
    }
}