.login-page-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .has_logined {
    width: 303px;
    border-radius: 6px;
    background-color: white;
    text-align: center;
    padding: 60px 18px 8px;
    color: rgb(153, 153, 153);
    box-shadow: -2px 1px 21px 0px rgba(0, 91, 172, 0.11);
    p {
      margin: 10px auto;
    }
    .current_name {
      color: #333;
      font-size: 18px;
      margin-bottom: 30px;
      margin-top: 35px;
    }
    button {
      color: white;
      display: inline-block;
      background-color: #169BDF;
      width: 140px;
      border: none;
      padding-top: 1;
      padding: 6px auto;
      padding: 5px;
      border-radius: 5px;
    }
    #js_cue {
      margin-top: 40px;
      cursor: pointer;
    }
    #js_other {
      text-align: right;
      margin-top: 42px;
      cursor: pointer;
    }
    #js_other:hover,
    #js_cue {
      color: #169BDF;
    }
  }
  .code_login {
    width: 346px;
    box-shadow: -2px 1px 21px 0px rgba(0, 91, 172, 0.11);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 80px 0px 59px 0px;
    p {
      margin: 24px auto;
    }
    #close {
      cursor: pointer;
      font-size: 16px;
      color: #0099FF
    }
  }
  .login-wrapper {
    width: 40.5%;
    height: 73.4%;
    font-family: MicrosoftYaHei;
    min-width: 375px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    .logo {
      text-align: center;
    }
    .login-form {
      width: 100%;
      height: 66.4%;
      margin-top: 8.1%;
      background-color: #ffffff;
      box-shadow: -2px 1px 21px 0px rgba(0, 91, 172, 0.11);
      border-radius: 3px;
      border-top: 5px solid #005bac;
      padding-top: 65px;
      padding-bottom: 31px;
      .form-group {
        width: 65.4%;
        margin: 0 auto;
        margin-top: 20px;
        &>input {
          padding: 0 10px;
          width: 100%;
          height: 40px;
          background-color: #ffffff;
          border-radius: 3px;
          color: #3a3a3a;
          padding-left: 10px;
          border: solid 1px #e2e2e2;
          &:focus {
            border: solid 1px #005bac;
          }
        }
        &.checkbox-group {
          color: #b0b0b0;
          div.checkbox-wrapper {
            float: left;
            font-size: 14px;
          }
          div.forget-pwd {
            float: right;
            a {
              color: #b0b0b0;
            }
          }
          &:after {
            content: '';
            width: 0;
            height: 0;
            display: block;
            visibility: hidden;
            clear: both;
          }
        }
      }
      .btn-group {
        width: 65.4%;
        height: 40px;
        margin-top: 24px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        button {
          width: 100%;
          height: 100%;
          background-color: #005bac;
          border-radius: 3px;
          color: #ffffff;
        }
      }
      .login-option {
        width: 218px;
        height: 72px;
        margin: 0 auto;
        margin-top: 21px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-align: center;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        a {
          display: inline-block;
          color: #333333;
          .iconfont {
            display: block;
            width: 46px;
            height: 46px;
            border-radius: 23px;
            color: #ffffff;
            text-align: center;
            margin: 0 auto 10px;
          }
          &.zhiwen {
            .iconfont {
              background-color: #ffb400;
              line-height: 50px;
              font-size: 27px;
            }
          }
          &.device {
            .iconfont {
              background-color: #33c3a2;
              line-height: 52px;
              font-size: 35px;
            }
          }
          &.scanLogin {
            .iconfont {
              background-color: lightblue;
              line-height: 52px;
              font-size: 35px;
            }
          }
        }
      }
    }
    .footer {
      width: 33.7%;
      height: 8.6%;
      margin: 0 auto;
      margin-top: 22px;
      .login-fqa {
        button {
          border: none;
          background-color: transparent;
          color: #004078;
          position: relative;
          left: 50%;
          transform: translate(-50%);
          span {
            margin: 0 auto;
          }
        }
      }
      .copyright {
        color: #b0b0b0;
        text-align: center;
        min-width: 160px;
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .login-wrapper {
    width: 35% !important;
  }
}