.passwd-modal{
  .text-input{
    border-bottom: 1px solid #ccc;
  }
}
.pw-content {
  background: #fff;
  padding: 30px 200px;
  .confirm-group{
    position: relative;
    .password-tip{
      color: red;
      position: absolute;
      left: 260px;
      top: 5px;
    }
  }
  .form-group{
    label{
      display: inline-block;
      width:80px;
    }
    .text-input{
      display: inline-block;
      input{
        background: #fff;
        border-radius: 5px;
        border: 1px solid #e2e2e2;
      }
    }
  }
  .btn-group{
    margin-left: 80px;
    .btn{
      background: #007aff;
      width: 170px;
      color:#fff;
    }
  }
}