.recent_parent {
  margin: 0px;
  padding: 0px;
  background-color: white;
  .collect_li {
    width: 90px;
    display: inline-block;
    margin: 25px 40px;
    vertical-align: top;
    a {
      display: block;
      text-align: center;
      .collect_caption {
        font-size: 14px;
        color: #666;
        padding-bottom: 18px;
      }
    }
  }
  .collect_li:hover {
    background-color: #F2F2F2;
  }
  .wrap_self_icon {
    height: 34px;
    margin: 15px auto 20px;
    position: relative;
  }
  .self_icon {
    font-size: 34px;
    color: #666;
    display: inline-block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)
  }
  .collect_li:hover {
    background-color: #F2F2F2;
  }
}