
.register-wrapper{
  min-height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;

  .register-header{
    background-color: #fff;
    box-shadow: none;
  }

  .register-content{
    padding-bottom: 30px;
    background-color: #fff;
    .register-title{
      margin: 0;
      padding: 50px 0 60px;
      text-align: center;
      font-size: 23px;
      color: $title;
    }

    padding-top: 44px;
    .register-form{

      padding: 0 30px;
      .form-group {
        position: relative;
        border-bottom: 1px solid #ccc;
        margin-bottom: 15px;
        input{
          border: none;
          width: 100%;
          margin: 0;
          font-size: 16px;
          padding-left: 0;
        }
        .more-group {
          border: none;
          position: absolute;
          top: 0;
          right: 0;
          background-color: transparent;
          .check-code{
            height: 30px;
            border-radius: 15px;
            background-color: $default_5;
            color: $org_green;
            border: none;
            font-size: 12px;
          }
        }
      }
      .btn-group{
        margin-top: 30px;
        .register-submit{
          display: block;
          height: 50px;
          background-color: $org_green;
          color: #fff;
          width: 100%;
          font-size: 16px;
        }
      }
    }
  }
}

