//.regPage {
//  .mui-content-padded {
//    margin-top: 15px;
//  }
//  .mui-input-group:first-child {
//    margin-top: 20px;
//  }
//  .mui-input-group label {
//    width: 130px;
//  }
//  .mui-input-row label ~ input,
//  .mui-input-row label ~ select,
//  .mui-input-row label ~ textarea {
//    width: calc(100% - 130px);
//  }
//  #sendVerify{
//    position: absolute;
//    text-align: center;
//    right: 5px;
//    top: 5px;
//    padding: 6px 12px;
//    width: auto;
//  }
//  #verifyELCode{
//    position: absolute;
//    text-align: left;
//    right: 5px;
//    top: 5px;
//    padding: 6px 0 6px 0;
//    width: auto;
//    font-size: 0;
//  }
//  .verifyCodeItem{
//    color: red;
//    display: inline-block;
//    font-size: 16px !important;
//    margin-left: 1px;
//  }
//}
.register-wrapper{
  min-height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;

  .register-header{
    background-color: #fff;
    box-shadow: none;
  }

  .register-content{
    padding-bottom: 30px;
    background-color: #fff;
    .register-title{
      margin: 0;
      padding: 50px 0 60px;
      text-align: center;
      font-size: 23px;
      color: $title;
    }

    padding-top: 44px;
    .register-form{

      padding: 0 30px;
      .form-group {
        position: relative;
        border-bottom: 1px solid #ccc;
        margin-bottom: 15px;
        input{
          border: none;
          width: 100%;
          margin: 0;
          font-size: 16px;
          padding-left: 0;
        }
        .more-group {
          border: none;
          position: absolute;
          top: 0;
          right: 0;
          background-color: transparent;
          .check-code{
            height: 30px;
            border-radius: 15px;
            background-color: $default_5;
            color: $primary;
            border: none;
            font-size: 12px;
          }
        }
      }
      .btn-group{
        margin-top: 30px;
        .register-submit{
          display: block;
          height: 50px;
          background-color: $primary;
          color: #fff;
          width: 100%;
          font-size: 16px;
        }
      }
    }
  }
}

