//@import "../helpers/parameters";
$spinner-font: 20px;
@-webkit-keyframes spin-rotate{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    50% {
        -webkit-transform:rotate(180deg);
        transform:rotate(180deg)
    }
    to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}

@keyframes spin-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.spinner{
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 2px solid #5d9cec;
    border-bottom-color: transparent;
    height: $spinner-font;
    width: $spinner-font;
    background: transparent!important;
    display: inline-block;
    -webkit-animation: spin-rotate 1s 0s linear infinite;
    animation: spin-rotate 1s 0s linear infinite;

}

.top-navbar-menu .dropdown.open .spinner {
  border-color: #ffffff;
  border-bottom-color: transparent;
}
.spinner-cover{
    position: absolute;
    display: flex;
    background: rgba(255,255,255, 0.5);
    z-index: 1000;
    .spinner{
        margin: auto;
    }
}


//.csspinner {
//  position: relative;
//}
//
//.csspinner:before {
//  content: "";
//  z-index: 1;
//  position: absolute;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  background-color: rgba(255, 255, 255, 0.8);
//}
//
//.csspinner:after {
//  z-index: 2;
//  content: "";
//  position: absolute;
//  -webkit-transform-origin: center;
//  -ms-transform-origin: center;
//  transform-origin: center;
//}


