.accessory-wrapper{
  .images-wrapper {
    background-color: #ffffff;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    padding-left: 13px;
    .add-wrapper {
      flex: 0 0 auto;
      position: relative;
      width: 60px;
      height: 60px;
      color: #b0b0b0;
      background-color: #ffffff;
      border-radius: 2px;
      border: dotted 1px #e2e2e2;
      font-size: 24px;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: center;
      margin-left: 7px;
      input {
        display: none;
      }
      .text-input {
        display: none;
      }
      .webuploader-pick {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        &:after {
          content: '+';
          color: #b0b0b0;
          font-weight: 200;
          font-size: 48px;
          margin-top: -5px;
        }
      }
    }
    .images-body {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: flex-start;
      flex: 0 0 auto;
      .upload-img {
        width: 60px;
        height: 60px;
        flex: 0 0 60px;
        position: relative;
        margin-right: 20px;
        &:last-child{
          margin-right: 13px;
        }
        &:first-child{
          margin-left: 7px;
        }
        .close-ball {
          position: absolute;
          right: -6px;
          top: -6px;
          width: 18px;
          height: 18px;
          background-color: #ffb400;
          display: flex;
          display: -webkit-flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          border-radius: 50%;
          i {
            font-size: 8px !important;
          }
        }
        .img-error {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.6;
          background-color: #1b1410;
          .error-text {
            position: absolute;
            bottom: 10px;
            left: 0;
            height: 40px;
            width: 100%;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #ff4d6a;
            i {
              font-size: 20px;
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .accessory-body{
    background-color: #ffffff;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 11px 0 14px;
    height: 100%;
    .upload{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #005bac;
      font-size: 14px;
      width: 110px;
      height: 36px;
      background-color: #ffffff;
      border-radius: 3px;
      border: solid 1px #005bac;
      position: relative;
      input {
        display: none;
      }
      .text-input {
        display: none;
      }
      i{
        margin-right: 10px;
      }
    }
    .accessory-content-wrapper{
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      width: calc(100% - 140px);
      .accessory-item{
        display: flex;
        display: -webkit-flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        height: 30px;
        flex: 1 0 30px;
        i{
          color: #333333;
        }
        .file-name{
          color: #333333;
          margin-left: 15px;
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .file-size{
          color: #b0b0b0;
          margin-left: 5px;
        }
        .deleteBtn{
          color: #005bac;
          margin-left: 18px;
        }
      }
    }
  }
}