.accessory-wrapper {
  width: 100%;
  background-color: #ffffff;
  font-size: 15px;
  padding: 10px 16px 10px 0;
  overflow: hidden;
  .accessory-title {
    height: 30px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
  }
  .accessory-body {
    padding-top: 10px;
    .text-input {
      display: none;
    }
    .upload {
      color: #666;
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background-color: #f8f8f8;
      border: 1px solid #e2e2e2;
      .app-jia {
        margin-right: 10px;
      }
    }
  }
  .file-wrapper {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    height: 80px;
    padding: 15px 0;
    .file-icon {
      background-color: #48afe7;
      width: 50px;
      height: 50px;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
    }
    .app-wenjian {
      font-size: 30px;
      color: #fff;
    }
    .file-info {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      margin-left: 10px;
      .file-name {
        color: #333;
      }
      .file-size {
        color: #b0b0b0;
        font-size: 12px;
      }
    }
  }
  .accessory-item {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    .deleteBtn {
      color: #005bad;
      line-height: 50px;
    }
  }
  // 图片上传样式
  .images-wrapper{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 10px;
    .add-wrapper {
      flex: 0 0 auto;
      position: relative;
      width: 80px;
      height: 80px;
      color: #b0b0b0;
      background-color: #ffffff;
      border-radius: 2px;
      border: dotted 2px #e2e2e2;
      font-size: 24px;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: center;
      input{
        display: none;
      }
      .text-input {
        display: none;
      }
      .webuploader-pick{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        &:after{
          content: '+';
          color: #b0b0b0;
          font-weight: 200;
          font-size: 48px;
        }
      }
    }
    .images-body{
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: flex-start;
      flex: 0 0 auto;
      .upload-img{
        width: 80px;
        height: 80px;
        flex: 0 0 80px;
        position: relative;
        margin-right: 16px;
        .close-ball{
          position: absolute;
          right: -6px;
          top: -6px;
          width: 18px;
          height: 18px;
          background-color: #ffb400;
          display: flex;
          display: -webkit-flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          border-radius: 50%;
          i{
            font-size: 8px !important;
          }
        }
        .img-error{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.6;
          background-color: #1b1410;
          .error-text{
            position: absolute;
            bottom: 10px;
            left:0;
            height: 40px;
            width: 100%;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #ff4d6a;
            i{
              font-size: 20px;
            }
          }
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.up-disabled{
  pointer-events: none !important;
}
