.accessory-outer-wrapper{
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 14px 16px;
  background-color: #ffffff;
  .accessory-inner-wrapper{
    float: left;
    white-space: nowrap;
    .upload-img{
      display: inline-block;
      width: 70px;
      height: 70px;
      border-radius: 5px;
      overflow: hidden;
      margin-right: 20px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .add-wrapper{
      position: relative;
      display: inline-block;
      width: 70px;
      height: 70px;
      color: #b0b0b0;
      margin-right: 20px;
      div:last-child{
        left: 0 !important;
      }
      .webuploader-pick,.add-wrapper-inner{
        width: 70px;
        height: 70px;
        position: absolute;
        top: 0;
        left: 0;
      }
      .text-input{
        display: none;
      }
      .add-wrapper-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
      }
      .add-icon{
        width: 38px;
        height: 38px;
        border: solid 1px #e2e2e2;
        font-weight: 200;
        border-radius: 50%;
        font-size: 26px;
        text-align: center;
        line-height: 36px;
        margin: 0 auto;
      }
      .add-text{
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }
}