.detail-wrapper,
.detail-edit-modal {
  height: 100%;
  overflow: auto;
  &.editing {
    .detail-content {
      .detail-item {
        padding: 0;
      }
    }
  }
  .paging-wrapper {
    display: none;
  }
  &.no-data {
    &::after {
      font-family: "appcommon" !important;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      content: "\e62b";
      display: block;
      font-size: 150px;
      text-align: center;
      padding: 20px 0;
      line-height: 200px;
      color: $text;
    }
  }
  .detail-container{
    overflow: auto;
  }
  .detail-content {
    // box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    .detail-item {
      flex: 1 1 33.3%;
      &.block-item{
        flex-basis: 100%;
      }
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
      border-right: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;
      min-height: 44px;
      min-width: 250px;
      color: $text;
      &.disabled {
        opacity: .9;
        pointer-events: auto !important;
        background: #e3e3e3 !important;
        color: #3a3a3a;
      }
      &.cell-link {
        .detail-item-content {
          cursor: pointer!important;
        }
      }
      .detail-item-title {
        width: 150px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 12px;
        font-size: 14px;
        background: #f7f8fa;
        color: $title;
        overflow: hidden;
        word-wrap:break-word;
        word-break:break-all;
        text-align-last: center;
      }
      .detail-item-content {
        display: flex;
        align-items: center;
        padding-left: 12px;
        width: calc(100% - 150px);
        position: relative;
        background: #fff;
        &>.text-input {
          width: 100%;
        }
        img {
          max-height: 100px;
          max-width: 100px;
          cursor: pointer;
        }
        input {
          text-align: right;
          margin-bottom: 0;
        }
        .accessory-wrapper {
          background-color: transparent;
          .accessory-title {
            display: none;
          }
        }
      }
    }
  }
}

.fl-pc {
  .detail-wrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    &.editing {
      .detail-content {
        border-left: 1px solid #f0f0f0;
        border-top: 1px solid #f0f0f0;
        .detail-item {
          .detail-item-content {
            justify-content: flex-end;
            padding-right: 12px;
            //& > div{
            //  display: flex;
            //  align-items: center;
            //  &.disabled{
            //    opacity: .5;
            //    pointer-events: auto !important;
            //    background: rgba(0, 0, 0, .1) !important;
            //  }
            //}
          }
        }
      }
    }
    .detail-btn-group {
      //position: absolute;
      //top: 0;
      //right: 0;
      //left: 0;
      //width: 100%;
      flex: 0 0 50px;
      //border-bottom: 1px solid #ddd;
      .input-box {
        height: 100%;
        padding: 0;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: flex-start;
        .btn {
          font-size: 14px;
          height: 30px;
          //margin-left: 15px;
          padding: 0 20px;
          //border-color: #005bac;
          //color: #005bac;
        }
      }
    }
    .detail-container{
      flex: 1 1 auto;

      .detail-content{
        border-left: 1px solid #f0f0f0;
        border-top: 1px solid #f0f0f0;

        .detail-item-title{
          border-right: 1px solid #f0f0f0;
        }
        .detail-item-content{
          min-width: 150px;
        }
      }
    }
  }
}

.fl-mobile {
  &.panel-off-main-sub {
    .mui-content {
      padding-bottom: 50px;
      .panel-wrapper {
        overflow: auto;
        height: 100%;
      }
    }
  }
  &.panel-on-main-sub {
    .mui-content {
      .panel-wrapper {
        overflow: auto;
        height: 100%;
        .detail-wrapper {
          padding-bottom: 0;
          .detail-btn-group {
            position: relative;
          }
        }
      }
    }
  }
  .detail-edit-modal {
    .modal-footer {
      display: block;
      bottom: 0;
      position: fixed;
      height: 50px;
      width: 100%;
    }
  }
  .detail-wrapper,
  .detail-edit-modal {
    padding-bottom: 50px;
    .disabled,
    [disabled] {
      opacity: 1;
      color: #3a3a3a;
    }
    .detail-btn-group {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background-color: #fff;
      border-top: 1px solid #ddd;
      .input-box {
        height: 100%;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        .btn {
          font-size: 14px;
          height: 40px;
          //margin-left: 15px;
          border-color: #005bac;
          color: #005bac;
          padding: 0 14px;
          max-width: 25%;
        }
      }
      .detail-count {
        .detail-row {
          display: inline-block;
        }
      }
    }
    .detail-container{
      padding: 0 12px;
      background: #fff;
    }
    .detail-content {
      // background-color: #fff;
      // padding-left: 12px;
      height: 100%;
      .detail-item {
        background-color: white;
        padding: 8px 0;
        border-right: none;
        .detail-item-title {
          width: 120px;
          color: $title;
          background: transparent;
          padding-left: 0;
          white-space:nowrap
        }
        .detail-item-content {
          width: calc(100% - 120px);
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 12px;
          padding-left: 0;
          .text-input {
            width: 100%;
          }
        }
      }
    }
  }
}