  .sale-table {
    height: 57%;
    width: 100%;
  }
  .sale-title{
    .menu-bar{
      tbody{
        display: flex!important;
        tr{
          margin: auto;
          font-size: 24px;
        }
      }

    }
  }
  .table-container{
    thead{
      th{
        min-width: 31px;
      }
    }
  }
  .table-container.menu-bar{
    thead{
      display: none;
    }
    tbody{
      display: block;
      tr{
        td{
          font-weight: 400;
          border: none;
          text-align: left;
          white-space: nowrap;
        }
      }
    }
  }


