.statistic-modal{
  .modal-body{
    max-height: none!important;
  }
}

.fl-pc .table-module-has-sub {
  .sub-table-tab-wrapper {
    overflow: hidden;
    height: calc(45% - 10px);
    position: relative;

    .sub-tab-navbar{
      padding-right: 90px;
      min-height: 42px;
    }
    .sub-icon-navbar{
      position: absolute;
      right: 0;
      top: 0;
      width: 90px;

      .sub-icon {
        float: right;
        line-height: 42px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .table-module-sub {
      height: 100% !important;
    }
    .tab-content {
      height: calc(100% - 42px);
      .tab-pane {
        height: 100%;
      }
    }
  }
  .table-module-wrapper {
    position: relative;
    &.table-module-main {
      height: 55%;
    }
    &.table-module-sub {
      height: calc(45% - 10px);
    }
  }
  .drag-line {
    width: 100%;
    height: 6px;
    cursor: n-resize;
    margin-bottom: 4px;
    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 0;
      border-top: 2px solid #ccc;
    }
  }
}

.fl-pc {
  .table-module-wrapper{
    overflow: hidden;
  }
  .edit-btns {
    button {
      border: none;
      background-color: transparent;
      padding: 0 6px;
      .appcommon {
        padding-right: 6px;
        font-size: 15px;
      }
      &:hover {
        color: $primary;
        background-color: transparent;
      }
    }
  }
  .fast-table-btns {
    .edit-btns {
      flex-basis: 300px;
      -webkit-flex-basis: 300px;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }
    .more-btns {
      flex-grow: 2;
      -webkit-flex-grow: 2;
    }
  }
}

.mobileTable tr td {
  &.searched {
    background-color: $blue;
    color: #fff;
  }

  &.editing {
    position: relative;

    &.uploaderCom div:last-child {
      width: 100% !important;
      height: 100% !important;
    }
    & > * {
      position: absolute;
      top: 0;
      left: 0;
      white-space: normal;
      width: 100%;

      input {
        font-size: 12px;
      }
    }

    .bootstrap-tagsinput {
      background-color: #fff;
    }

    .note-editor {
      min-width: 300px;
      z-index: 1;
    }
  }
}

.table-module-wrapper {
  height: 100%;
  background-color: #fafafa;
  & > .showDetail {
    position: fixed;
    max-width: 300px;
    max-height: 200px;
    overflow: scroll;
    z-index: 6;
    background-color: white;
    opacity: 1;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .table-body-wrapper{
    td{
      .accessory-wrapper{
        overflow: visible;
      }
    }
  }
}

.table-img-wrapper {
  .table-img-wrapper-btns {

    .table-img-uploader {
      display: inline-block;
      width: 75px;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      height: 28px;
      position: relative;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
      top: 4px;

      input {
        font-size: 14px;
        text-align: center;
      }

      &:hover {
        background-color: white;
        border-color: #108ee9;

        input::-webkit-input-placeholder {
          color: #108ee9;
        }
      }
    }

    button {
      margin-left: 5px;
    }
  }
  .table-img {
    margin-top: 10px;
    text-align: center;
    .img {
      position: relative;
      padding: 10px 0;
      border-bottom: 2px solid $default_4;
      margin: 10px 0;
      .img-close {
        position: absolute;
        right: 0;
        top: 0;
        background: $default_3;
        border-radius: 50%;
        color: #fff;
        font-weight: normal;
        font-size: 16px;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
      }
      img {
        margin: 0 auto;
        max-width: 95%;
        min-width: 20%;
      }
    }
  }
}

.modal-body.modal-body-mobile {
  .table-img-wrapper {
    .table-img-wrapper-btns {
      .table-img-uploader {
        top: 0
      }
    }
  }
}

.fl-mobile {
  .modal-mbPage.sub-table {
    .mbPage-header {
      height: 30px;
      .mbPage-title{
        line-height: 30px;
      }
      .mbPage-left, .mbPage-right, .mbPage-title {
        top: 0 !important;
      }
    }
    .mbPage-body{
      padding-top: 30px;
    }
  }

  .table-module-wrapper {
    background-color: #fafafa;
    padding-bottom: 41px;
    .fast-table-container {
      .new-table-wrapper {
        .table-body-wrapper {
          height: 90%;
          height: calc(100% - 41px);
        }
      }
    }
    .table-module-amount {
      border-bottom: 1px solid #e1e1e1;
      display: flex;
      flex-wrap: wrap;
      height: 42px;
      font-size: 14px;
      justify-content: space-between;
      color: #555;
      font-weight: bold;
      & > span {
        padding: 0 3px;
        align-self: center;
        & > span {
          color: #333;
        }
      }
    }
    .table-module-report {
      height: 42px;
      overflow-y: scroll;
      border-bottom: 1px solid #dedede;
      padding: 5px;
      font-size: 15px;
    }
    .mui-bar-footer {
      height: 40px;
      overflow: hidden;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-top: 1px solid #e1e1e1;
      //z-index: 10000;
      transition: none;

      & > div {
        height: 39px;
        button {
          &::after {
            content: ' ';
            position: absolute;
            display: block;
            width: 1px;
            height: 13px;
            background-color: #bbb;
            top: 15px;
            right: 0;
          }
          &:last-child ::after {
            content: inherit;
          }
        }
      }

      .input-box {
        background: #fff;
      }
    }

  }
}

.fl-pc {
  .sub-table-full .modal-body {
    max-height: none !important;
  }
}

// 移动端多子表 tab 样式
.modal-mbPage {
  .mbPage-body {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    //padding-top: 70px !important;
    .tab-content {
      height: calc(100% - 40px);
      .tab-pane {
        height: 100%;
      }
    }
    //.nav-tabs{
    //  display: flex;
    //  justify-content: flex-start;
    //  align-items: center;
    //  padding: 0;
    //  margin: 0;
    //  left: 0;
    //  width: auto;
    //  background-color: #ffffff;
    //  position: fixed;
    //  //float: left;
    //  //white-space: nowrap;
    //  top: 30px;
    //  z-index: 1;
    //  overflow-x: auto;
    //  overflow-y: hidden;
    //  min-width: 100%;
    //  li{
    //    height: 40px;
    //    text-align: center;
    //    width: auto;
    //    padding: 0 15px;
    //    line-height: 40px;
    //    //border-bottom: 1px solid #e2e2e2;
    //    outline: none;
    //    flex-shrink: 0;
    //    flex-grow: 0;
    //  }
    //  li.active>a{
    //    display: inline-block;
    //    height: 100%;
    //    border-bottom: 2px solid #005bac;
    //    color: #007AFF;
    //    &:hover{
    //      border: none;
    //      border-bottom: 2px solid #007AFF;
    //      color: #007AFF;
    //    }
    //  }
    //}
    //.nav-tabs>li>a{
    //  color: #8e8e93;
    //  border-radius: 0;
    //  border: none;
    //}
  }
}

.fl-mobile {
  .flowListPC, .sub-table-page-modal{
    .nav-tabs {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
      margin: 0;
      width: auto;
      background-color: #ffffff;
      z-index: 1;
      overflow-x: auto;
      overflow-y: hidden;
      min-width: 100%;
      border-bottom: 1px solid #ccc;
      & > li {
        height: 40px;
        text-align: center;
        width: auto;
        padding: 0 15px;
        line-height: 40px;
        outline: none;
        flex-shrink: 0;
        flex-grow: 0;
        & > a {
          color: #8e8e93;
          border-radius: 0;
          border: none;
        }
        &.active > a {
          display: inline-block;
          height: 100%;
          border-bottom: 2px solid #005bac;
          color: #007AFF;
          &:hover {
            border: none;
            border-bottom: 2px solid #007AFF;
            color: #007AFF;
          }
        }
      }
    }
    .tab-content {
      padding: 0;
    }
  }
}

.aggr-wrapper + .fast-table-container{
  .tables{
    height: calc(100% - 105px);
  }
}

//.fl-mobile{
//  .table-module-wrapper {
//    height: 100%;
//    &.has-amount.has-footer-btn {
//      height: calc( 100% - 38px);
//
//    }
//    .fast-table-container {
//      height: calc( 100% - 51px);
//      .new-table-wrapper {
//        height: calc( 100% - 10px);
//        .table-body-wrapper{
//          height: calc(100% - 40px);
//        }
//      }
//    }
//  }
//
//}

