.accessory-wrapper{
  width: 100%;
  padding: 0 16px;
  font-size: 15px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
  .accessory-title{
    margin-left: 8px;
    height: 50px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
  }
  .accessory-body{
    .upload{
      font-size: 14px;
      color: #666;
      width: calc(100% - 16px);
      height: 50px;
      margin: 0 auto;
      line-height: 50px;
      text-align: center;
      background-color: #f8f8f8;
      border: 1px solid #e2e2e2;
      .app-jia{
        margin-right: 10px;
      }
    }
  }
  .file-wrapper{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    .app-wenjian{
      font-size: 30px;
      color: #fff;
      width: 50px;
      height: 50px;
      padding: 5px 10px;
      background-color: #48afe7;
    }
    .file-info{
      margin-left: 10px;
      line-height: 25px;
      .file-name{
        color: #333;
      }
      .file-size{
        color: #b0b0b0;
        font-size: 12px;
      }
    }
  }
  .accessory-item{
    width: calc(100% - 16px);
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    .deleteBtn{
      color: #005bad;
      line-height: 50px;
    }
  }
}