.modal-change-project:not(.modal-mobile) {
    min-width: 250px;

    .head-wrapper {
        .modal-header {
            background-color: #1d2b36;
            height: 45px;

            .close {
                margin-top: 0;
                line-height: 45px;
            }

            .modal-title {
                font-size: 16px;
                padding-left: 20px;
                color: #ffffff;
                line-height: 45px;
            }
        }
    }

    .modal-body {
        font-size: 14px;
        background-color: #ffffff;
        box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.18);
        padding: 10px 20px;
        color: #333333;
        min-height: 193px;

        .change-project {
            position: relative;

            .description {
                margin-right: 3px;
            }

            .current-project-wrapper {
                height: auto;
                margin-bottom: 20px;
            }

            .project-list-wrapper {
                margin-bottom: 20px;
                height: auto;

                .select-project {
                    .show-project-wrapper {
                        position: relative;
                        width: 70%;
                        display: inline-block;
                        .show-project {
                            width: 100%;
                            padding: 5px;
                            background-color: #ffffff;
                            border: solid 1px #e2e2e2;
                        }

                        .appcommon.app-xiala {
                            position: absolute;
                            right: 1px;
                        }
                    }
                }

                .dropdown-menu {
                    height: auto;
                    margin-top: -2px;
                    clear: both;

                    .drop-item.list-item {
                        padding: 3px 5px;
                    }
                }
            }
        }
    }
}

.modal-change-project.modal-mobile {

    .head-wrapper {
        .modal-header {
            height: 45px;

            .close {
                margin-top: 0;
                line-height: 45px;
            }

            .modal-title {
                font-size: 18px;
                color: #333333;
                line-height: 45px;
            }
        }
    }

    .modal-body {
        $font-size__mobile-body: 15px;
        height: calc(100% - 45px) !important;
        font-size: $font-size__mobile-body;
        background-color: #ffffff;
        box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.18);
        padding: 0 20px;
        color: #333333;

        .change-project {
            position: relative;

            .description {
                margin-right: 3px;
                line-height: 40px;
            }

            .current-project-wrapper {
                height: auto;
                border-bottom: 1px solid #e2e2e2;
                padding: 10px 0;
                .current-project {
                    position: absolute;
                    right: 30px;
                }
            }

            .project-list-wrapper {
                padding: 10px 0;
                border-bottom: 1px solid #e2e2e2;
                height: auto;
                position: relative;
                display: flex;

                .select-project {
                    position: relative;
                    float: left;
                    overflow: hidden;
                    width: 100%;

                    .show-project-wrapper {
                        clear: both;
                        overflow: hidden;
                        float: right;
                        width: 80%;
                        input.show-project {
                            padding: 0 30px 0 0;
                            text-align: right;
                            margin-bottom: 0;
                            background-color: #ffffff;
                            border: none;
                            float: right;
                            font-size: $font-size__mobile-body;
                        }

                        .appcommon.app-xiala {
                            position: absolute;
                            right: 1px;
                        }
                    }
                }

                .dropdown-menu {
                    height: auto;
                    margin-top: -2px;
                    clear: both;
                    position: absolute;

                    .drop-item.list-item {
                        padding: 3px 5px;
                        font-size: $font-size__mobile-body;
                    }
                }
            }
        }
    }
    .foot-wrapper {
        position: absolute;
        min-width: 250px;
        width: 66.7%;
        left: 50%;
        top: 270px;
        transform: translate(-50%);
        .modal-footer {
            border-top: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .right-plane {
                float: none !important;
                position: static;
                display: block;
                width: 100%;

                .input-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button {
                        min-width: 96px;
                        border-radius: 15px;
                        &:first-child {
                            border: solid 1px #005bac;
                            background-color: #ffffff;
                            color: #005bac;
                        }
                        &:last-child {
                            background-color: #005bac;
                            margin-left: 5.1%;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}