.map-module{
  margin: 10px;

  .map-module-header{
    margin-bottom: 15px;
    .btn-dark{
      width: 80px;
      height: 35px;
      line-height: 35px;
      margin-left: 15px;
    }
    input.default{
      height: 35px;
      margin-left: 0;
    }
  }
  .map-module-container{
    //width: 750px;
    height: 280px;
    img{
      max-width: none
    }
  }
  .map-module-footer{
    display: flex;
    margin-top: 18px;
    .map-module-item{
      margin: auto 0;
      >input{
        margin-left: 10px;
        width: 190px;
        height: 35px;
      }
      &:nth-child(2){
        margin-left: 40px;
      }
      &:nth-child(3){
        margin-left: 70px;
      }
      .position{
        pointer-events: none;
        opacity: .5;
      }
    }
    >span{
      padding: 0 5px;
    }
    .left-20{
      margin-left: 20px;
    }
    [data-name="radius"]{
      width: 100px;
      margin-left: 10px;
      display: inline-block;
      .text-input{
        height: 35px;
        input{
          margin-left: 24px;
          border: 1px solid #ccc;
          height: 35px;
        }
        .icon-jiahao{
          padding: 3px;
          border: 1px solid #ccc;
          margin-left: -86px;
          position: absolute;
          border-right: none;
          width: 25px;
          &:before{
            font-size: 12px;
            display: block;
            color: black;
            font-weight: 600;
            margin-top: -4px;
            height: 35px;
          }
        }
        .icon-jianhao{
          border: 1px solid #ccc;
          display: block;
          border-left: none;
          margin-right: -9px;
          width: 25px;
          &:before{
            font-size: 12px;
            display: block;
            color: black;
            font-weight: 600;
            margin-top: -1px;
            height: 35px;
          }
        }
      }

    }
  }
  .map-group-btns{
    display: flex;
    margin: 10px;
    >div{
      margin: auto;
      button{
        margin: 10px;
      }
    }
  }
}
