.textInputModule{
  overflow: hidden;
  .textInputLabel,.textInputContent,.checkboxContent{
    float: left;
  }
  label{
    width: 80px;
    text-align: center;
    margin-right: 8px;
    height: 36px;
    line-height: 34px;
  }
  .textInputContent{
    width: calc(100% - 100px);
    .text-input{
      height: 100%;
      input{
        height: 100%;
      }
    }
  }
}