.mobile-scan{
  position: fixed;
  bottom: 65px;
  //right: 20px;
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  height: 46px!important;
  line-height: 46px!important;
  border-radius: 46px!important;
  background: #108ee9!important;
  color: white!important;
  z-index: 1100;
  transition: color,background 0.3s ease 0s !important;
  &:hover{
    color: white;
  }
  .iconfont{
    font-size: 25px!important;
  }
  span{
    margin-right: 0;
    font-size: 19px;
    margin-left: 8%;
  }
}