.modal-box{
 .modal-loading.modal-wrapper{
  //position: absolute;
  &.container-loading{
   margin: 0!important;
  }
  z-index: 10000 !important;
  background-color: rgba(0, 0, 0, 0.75);
  .modal-body {
   padding: 35px 0;
   font-size: 14px;
   color: rgb(255, 255, 255);
   overflow-y: visible;
  }
 }
}
