@charset "utf-8";
@import 'module/itemList/itemList.scss';
@import 'page/mainPage/mainPage.scss';
@import 'page/confPage/confPage.scss';
@import 'module/keyModal/keyModal.scss';
@import 'page/loginPage/loginPage.scss';
@import 'page/regPage/regPage.scss';
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
table {
  border-spacing: 0;
  background-color: transparent;
  border-collapse: collapse;
}
img {
  vertical-align: middle;
  border: 0;
}
p {
  margin: 0 0 10px;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #F2F2F2;
  border: 1px solid #eee;
  padding: 0;
  color: #666;
  height: 100vh;
  overflow: hidden;
  .page-container{
    height: 100%;
    outline: none;
  }
  .hide{
    display: none;
  }
  .color-red{
    color : red!important;
  }
  .link-test{
    border: none;
  }
  .tip{
    padding: 0 16px;
    height: 80px;
    line-height: 80px;
  }
  .cash-content{
    height: calc(100% - 35px);
  }
  .cashier-body {
    padding: 0 0 0 0 !important;
    p {
      text-align: center;
      &:first-child {
        padding-top: 15px;
      }
    }
  }
  .align-center {
    text-align: center;
  }

  input{
    outline: none;
  }
  .tr-select {
      background-color: #3889FE;
    td{
      color: #fff;
    }
  }

  .tab-pane{
    display: none;
  }
  .tab-pane.active{
    display: block;
  }
}
.text-input{
  input:focus{
    outline: 1px dotted;
  }
}
.icon-zhiwen{
  color: red;
  &::before{
    color: red;
    font-size: 22px;
    position: absolute;
    left: 0;
    top: 27px;
  }
}
.disabled{
  pointer-events: none!important;
}