.groupOriented {
  .checkWrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 24px;
    .all-checkbox {
      width: calc(100% - 118px);
      .select-box {
        width: 50%;
        height: 30px;
        padding-left: 20px;
        span{
          font-weight: normal;
          user-select: none;
        }
      }
    }
  }
  .check-title {
    height: 30px;
    width: 118px;
  }
  .group-oriented-radio {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
    .check-title{
      line-height: 30px;
    }
    .radio-group {
      padding-left: 20px;
      width: calc(100% - 118px);
      height: 30px;
      justify-content: flex-start;
      .radio-wrapper {
        width: auto;
        margin-left: 0;
        margin-right: 40px;
      }
    }
  }
.publish.btn.addBtn{
  height: 46px;
  width: 160px;
  font-size: 16px;
  margin-right: 40px;
}
}