.turn-page{
  position: absolute;
  z-index: 11;
  bottom: 6px;
  right: 8px;
  .pre-page{
    margin-right: -1px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    &:hover{
      z-index: 2;
    }
  }
  .next-page{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}