@import "../../style/helpers/parameters";
@media (min-width: 992px) {
  .app-navbar-fixed {
    padding-top: 0;
  }
}

#app {
  height: auto;
  min-height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#app .app-content {
  height: 100%;
}

#app .app-content:before,
#app .app-content:after {
  content: " ";
  display: table;
}

#app .app-content:after {
  clear: both;
}

@media (max-width: 991px) {
  #app {
    width: 100%;
  }
  #app .app-content {
    -moz-transition: -moz-transform 300ms ease 0s;
    -o-transition: -o-transform 300ms ease 0s;
    -webkit-transition: -webkit-transform 300ms ease;
    -webkit-transition-delay: 0s;
    transition: transform 300ms ease 0s;
    height: 100%;
    width: 100%;
    position: relative;
  }
  #app.app-slide-off>.app-content {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    margin-left: -70px;
    overflow: hidden;
    z-index: 2;
    position: absolute;
    -webkit-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
    -moz-transition: -moz-transform 300ms ease 0s;
    -o-transition: -o-transform 300ms ease 0s;
    -webkit-transition: -webkit-transform 300ms ease;
    -webkit-transition-delay: 0s;
    transition: transform 300ms ease 0s;
  }
  #app.app-slide-off>#off-sidebar {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -moz-transition: -moz-transform 300ms ease 0s;
    -o-transition: -o-transform 300ms ease 0s;
    -webkit-transition: -webkit-transform 300ms ease;
    -webkit-transition-delay: 0s;
    transition: transform 300ms ease 0s;
  }
  //#app.app-offsidebar-open > .app-content {
  //  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  //  overflow: hidden;
  //  z-index: 2;
  //  position: absolute;
  //  -webkit-transform: translate3d(-260px, 0, 0);
  //  transform: translate3d(-260px, 0, 0);
  //  -moz-transition: -moz-transform 300ms ease 0s;
  //  -o-transition: -o-transform 300ms ease 0s;
  //  -webkit-transition: -webkit-transform 300ms ease;
  //  -webkit-transition-delay: 0s;
  //  transition: transform 300ms ease 0s;
  //}
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: $color-default;
  color: #fff;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border: none;
  margin-bottom: 0;
  height: $nav-height;
  min-height: 30px;
  .loading-bar-wrapper {
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 0;
    right: 0;
    z-index: 999;
  }
  @media (max-width: 991px) {
    .app-slide-off &,
    .app-offsidebar-open & {
      position: absolute !important;
    }
  }
  @media (max-width: 991px) {
    left: 0;
    margin: 0;
    position: fixed;
    right: 0;
    width: 100%;
    -webkit-transform: translateZ(0);
  }
  .navbar-header {
    z-index: 10;
    background: $color-background-default;
    border-bottom: 1px solid #c8c7cc;
    border-right: 1px solid #c8c7cc;
    position: relative;
    height: $nav-height;
    .sidebar-mobile-toggler.pull-left.hidden-md.hidden-lg i {
      position: absolute;
      z-index: -1;
      top: 10px;
    }
    @media (min-width: 768px) {
      width: 190px;
    }
    @media (min-width: 992px) {
      border-right: 1px solid #c8c7cc;
      .app-sidebar-closed & {
        width: 70px;
        .navbar-brand {
          display: none;
        }
        .sidebar-toggler {
          float: none !important;
          display: block;
          margin: 0;
          padding: 0;
          text-align: center;
        }
      }
      .app-sidebar-fixed & {
        position: fixed;
        top: 0;
      }
    }
    a {
      line-height: $nav-height;
      height: $nav-height;
    }
    .navbar-brand {
      padding: 0 6px;
      width: 156px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      img {
        display: inline-block;
        margin-top: -6px;
      }
    }
    .nav-bluewhale {
      font-size: $nav-font-size;
    }
    .menu-toggler {
      margin-right: 60px;
      padding: 0 15px;
      font-size: 17px;
      color: #c8c7cc;
    }
    .sidebar-toggler {
      font-size: 17px;
      padding-right: 15px;
      //color: #c8c7cc;
      &:hover {
        color: #aeacb4;
      }
    }
    .sidebar-mobile-toggler {
      font-size: 17px;
      margin-left: 15px;
      //margin-right: 20px;
      padding-right: 18px;
      //color: #c8c7cc;
    }
     :hover {
      color: #aeacb4;
    }
  }
  .navbar-collapse {
    border-bottom: 1px solid #c8c7cc;
    border-top: none;
    //background: $color-background-default;
    /*padding-left: 15px !important;*/
    /*padding-right: 15px !important;*/
    position: relative;
    @media (min-width: 768px) {
      margin-left: 190px;
      height: $nav-height !important;
      .nav {
        //height: auto !important;
      }
    }
    @media (max-width: 767px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
      overflow: hidden !important;
      .nav {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
    }
    @media (min-width: 992px) {
      .app-sidebar-closed & {
        margin-left: 70px;
      }
    }
    .nav {
      height: $nav-height;
      &>li {
        vertical-align: top;
        &.open>a {
          color: #ffffff;
          background: $color-default;
          padding-bottom: 9px;
        }
        &>a {
          font-weight: normal;
          color: $color-default-font;
          font-size: $font-size-min;
          letter-spacing: 0;
          line-height: $nav-line-height;
          padding: $nav-padding1;
          position: relative;
          text-align: center;
          overflow: hidden;
          padding-left: 10px;
          padding-right: 10px;
        }
        &:not(.open)>a:hover {
          background-color: transparent;
          color: $color-default;
        }
      }
      &.navbar-right {
        &.content-tabs {
          margin: 0;
          padding-right: 28px;
        }
        &>li {
          &.dropdown.pull-left {
            display: flex;
            justify-content: center;
            align-items: center;
            i.appcommon.app-icon-user {
              line-height: 39px;
            }
          }
          &>a {
            color: $color-default;
            padding: 10px;
            font-size: 15px;
            padding-bottom: $nav-padding2;
          }
          &>a:focus {
            background: #fff;
          }
          &>a:hover {
            background: #eee;
          }
          &.open>a {
            color: $color-default;
            background: #eee;
          }
          &.current-user {
            &>a {
              padding: 0 10px;
              line-height: $nav-receive-height;
              img {
                height: 40px;
                border-radius: 20%;
              }
              &>div {
                float: right;
                line-height: $nav-height;
                //margin-top: 10px;
                span:first-child {
                  color: $color-default-font;
                  font-size: $font-size-max;
                  text-align: center;
                  margin-left: 5px;
                  max-width: 45px;
                }
              }
            }
          }
          @media (max-width: 767px) {
            a {
              display: block;
              float: none;
            }
            a img {
              display: inline-block;
              margin-right: 0;
              float: none;
            }
            a span {
              bottom: 0;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
              font-size: 0;
              line-height: 0;
              float: none;
              margin-top: 0;
            }
            a i {
              font-size: $font-size-max;
              color: #ffffff !important;
              -moz-transition: opacity 0.3s ease;
              -o-transition: opacity 0.3s ease;
              -webkit-transition: opacity 0.3s ease;
              transition: opacity 0.3s ease;
              background: rgba(0, 0, 0, 0.5);
              height: 39px;
              line-height: 39px;
              margin: 10px auto;
              width: 39px;
              border-radius: 20%;
            }
          }
        }
      }
      .dropdown {
        //line-height: 49px;
        //height: 49px;
        border-right: $border-default;
        transition: background-color 0.3s ease;
        cursor: pointer;
        .close {
          font-size: $font-size-min;
          position: absolute;
          color: #f00;
          display: none;
          top: -23px;
          right: -25px;
          font-weight: bold;
          transform: scale(0.9) rotate(45deg);
          padding: 31px 17px 2px 17px;
          background-color: rgba(200, 200, 200, 0.2);
          opacity: 1;
        }
        .lock-icon {
          position: absolute;
          top: -4px;
          left: 0;
          font-size: 12px;
          color: #ffa80a;
          display: none;
        }
        &.locked .lock-icon {
          display: inline-block;
        }
        &:hover .close {
          display: inline-block;
        }
        .pull-right {
          padding: 0;
        }
        &:last-child {
          //border-left: $border-default;
        }
      }
      .topControlBtns {
        border-left: $border-default;
      }
    }
    .top-navbar-menu {
      position: relative;
      width: calc(100% - 270px);
      @media (min-width: 768px) {
        .page-tabs-content > li {
          //float: left;
          display: inline-block;
        }
      }
      @media (max-width: 767px) {
        .navbar .page-tabs-content>li {
          border-bottom: 1px solid #c8c7cc;
        }
        .navbar .page-tabs-content>li:last-child {
          margin-bottom: 40px;
        }
      }
      .page-tabs {
        overflow: scroll;
        width: 100%;
        &::-webkit-scrollbar {
          height: 0;
          width: 0;
        }
        .page-tabs-content {
          white-space: nowrap;
          float: left;
          padding-right: 20px;
        }
      }
      &.hover:hover .tab-ctl-btn {
        opacity: 1;
        display: block;
      }
      .tab-ctl-btn {
        height: $nav-height;
        line-height: $nav-height;
        padding: 0 3px;
        top: 0;
        font-size: 22px;
        z-index: 1;
        position: absolute;
        background-color: rgba(180, 180, 180, 0.6);
        opacity: 0;
        transition: opacity 0.3s ease;
        display: none;
        color: #fff;
        &.J_tabLeft {
          left: 0;
        }
        &.J_tabRight {
          right: 0;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .navbar-collapse,
    .navbar-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      -webkit-transform: translateZ(0);
    }
    .dropdown-off-sidebar {
      position: fixed;
      top: 0;
      -webkit-transform: translateZ(0);
    }
  }
  .close-handle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color-background-default;
    cursor: pointer;
    z-index: 1001;
    min-height: 40px;
    .arrow-left,
    .arrow-right {
      background-color: #c8c7cc;
      border-radius: 10px;
      bottom: 15px;
      height: 8px;
      left: 50%;
      position: absolute;
      -moz-transition: -moz-transform 0.2s ease 0s;
      -o-transition: -o-transform 0.2s ease 0s;
      -webkit-transition: -webkit-transform 0.2s ease;
      -webkit-transition-delay: 0s;
      transition: transform 0.2s ease 0s;
      width: 24px;
      margin-left: -12px;
      cursor: pointer;
    }
    .arrow-left {
      -moz-transform: translate3d(-8px, 0px, 0px) rotate(-10deg);
      -ms-transform: translate3d(-8px, 0px, 0px) rotate(-10deg);
      -webkit-transform: translate3d(-8px, 0px, 0px) rotate(-10deg);
      transform: translate3d(-8px, 0px, 0px) rotate(-10deg);
    }
    .arrow-right {
      -moz-transform: translate3d(8px, 0px, 0px) rotate(10deg);
      -ms-transform: translate3d(8px, 0px, 0px) rotate(10deg);
      -webkit-transform: translate3d(8px, 0px, 0px) rotate(10deg);
      transform: translate3d(8px, 0px, 0px) rotate(10deg);
    }
  }
}

.breadcrumb {
  font-size: 12px;
  padding: 3px 15px 3px;
  list-style: none;
  border-radius: 0;
  margin: 0;
  //position: absolute;
  //top: 0;
  //left: 0;
  width: 100%;
  background-color: #efefef;
  z-index: 99;
  .iconfont {
    font-size: 8px;
  }
}

.navbar .navbar-collapse {
  background: #ffffff;
}

.navbar .navbar-collapse.in {
  overflow-y: visible;
}

.navbar .navbar-right .nav .dropdown-light:after {
  right: 36px;
  left: auto;
  top: -9px;
}

.navbar .navbar-right .nav .dropdown-light:before {
  right: 35px;
  left: auto;
  top: -11px;
}

.navbar .navbar-right .badge {
  background-color: #C82E29;
  color: #ffffff;
  padding: 4px 6px;
  position: absolute;
  top: 3px;
  font-size: 10px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  right: auto;
  margin-left: 13px;
}

.navbar .navbar-right .dot-badge {
  border-radius: 100%;
  border: 2px solid #ffffff;
  height: 10px;
  margin: 2px;
  position: absolute !important;
  top: 6px;
  width: 10px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  right: auto;
  margin-left: 10px;
}

.navbar .navbar-right .view-all {
  text-align: center;
  //position: absolute;
  left: 5px;
  bottom: 5px;
  width: 288px;
  position: relative;
  margin-top: 5px;
}

.messageList {
  //height: 185px;
  overflow: hidden;
}

.navbar .navbar-right .drop-down-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 5px 5px 0 5px;
}

.navbar .dropdown-off-sidebar {
  position: absolute;
  z-index: 11;
  top: 0;
  right: 0;
  border-left: 1px solid #c8c7cc;
  width: 31px;
  background: $color-background-default;
  line-height: $nav-height;
  color: #c8c7cc;
}

.navbar .dropdown-off-sidebar:after {
  position: absolute;
  font-size: 17px;
  padding: 0;
  margin: 0;
  font-family: 'themify';
  content: "\e6da";
  left: 5px;
  top: 0;
}

.app-offsidebar-open .navbar .dropdown-off-sidebar:after {
  content: "\e6d9";
}

@media (min-width: 992px) {
  .app-offsidebar-open .navbar .dropdown-off-sidebar {
    position: fixed;
  }
}

@media (max-width: 991px) {
  .navbar .dropdown-off-sidebar {
    width: 31px;
    height: 39px;
  }
  .navbar .dropdown-off-sidebar:after {
    left: 5px;
  }
  header .navbar-collapse .page-tabs-content>li.open>a {
    //background: transparent !important;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-right {
    position: relative;
    margin: 0 15px 0 0;
  }
}

@media (max-width: 991px) and (min-width: 767px) {
  .navbar .navbar-right {
    position: relative;
    margin: 0 35px 0 0;
    height: $nav-height !important;
  }
}

//未读消息
.navbar .navbar-right .dropdown-menu:before {
  top: -11px;
  right: 15px;
  left: auto;
}

.navbar .navbar-right .dropdown-menu:after {
  top: -9px;
  right: 16px;
  left: auto;
}

.navbar .navbar-right .dropdown-menu.dropdown-subview .fa-stack {
  height: 1.9em;
  line-height: 1.9em;
  vertical-align: top;
  margin-right: 5px;
}

.navbar .navbar-right .dropdown-menu.dropdown-large {
  width: 300px;
}

.navbar .navbar-right .dropdown-menu.dropdown-messages .drop-down-wrapper .media-body {
  width: auto !important;
}

.navbar .navbar-right .dropdown-menu.dropdown-messages .drop-down-wrapper ul>li a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: $color-default-font;
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  border-bottom: none;
  background-color: #f7f7f8;
  text-align: left;
}

.navbar .navbar-right .dropdown-menu.dropdown-messages .drop-down-wrapper ul>li.defaultContent a {
  text-align: center;
}

.navbar .navbar-right .dropdown-menu.dropdown-messages .drop-down-wrapper ul>li.view-all a {
  padding: 0;
  text-align: center;
  color: $color-default;
  background-color: #fff;
}

.navbar .navbar-right .dropdown-menu.dropdown-messages .drop-down-wrapper ul>li a:hover {
  background-color: #e9e8ea;
}

.navbar .navbar-right .dropdown-menu.dropdown-messages .drop-down-wrapper ul>li a .thread-image {
  float: left;
  height: 50px;
  margin-right: 8px;
  width: 50px;
}

.navbar .navbar-right .dropdown-menu.dropdown-messages .drop-down-wrapper ul>li a .author {
  display: block;
  font-size: $font-size-min;
  font-weight: 600;
  line-height: normal;
}

.navbar .navbar-right .dropdown-menu.dropdown-messages .drop-down-wrapper ul>li a .preview {
  display: inline-block;
  font-size: 11px;
  line-height: normal;
  color: $color-default;
}

.navbar .navbar-right .dropdown-menu.dropdown-messages .drop-down-wrapper ul>li.defaultContent a {
  height: 170px;
}

.navbar .navbar-right .dropdown-menu.dropdown-messages .drop-down-wrapper ul>li.defaultContent a .preview {
  font-size: 16px;
  color: $color-default-font;
}

.navbar .navbar-right .dropdown-menu.dropdown-messages .drop-down-wrapper ul>li a .time {
  display: block;
  float: right;
  font-size: 11px;
  font-style: italic;
  font-weight: 600;
  color: #aeacb4;
}

.dropdown-messages {
  /*height:300px;*/
}

@media (max-width: 767px) {
  .navbar .navbar-right .dropdown-menu {
    position: relative;
    width: 100% !important;
    max-width: 100% !important;
    box-shadow: none;
    margin: 0;
  }
  .navbar .navbar-right .dropdown-menu:before {
    left: 50% !important;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .navbar .navbar-right .dropdown-menu:after {
    left: 50% !important;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .navbar .navbar-right>li {
    float: left;
    width: 100%;
    padding: 10px;
  }
}

#unreadMsgNum {
  position: absolute;
  height: 14px;
  font-size: 9px;
  width: 18px;
  top: 5px;
  right: 0;
  line-height: 14px;
  border-radius: 7px;
}

.defaultContent a {
  color: #777 !important;
}

.partition-red {
  background-color: #C82E29;
  position: relative;
  color: #ffffff;
}


/* ---------------------------------------------------------------------- */


/* Dropdown Menu 个人资料
/* ---------------------------------------------------------------------- */

.dropdown-menu.dropdown-light {
  background-color: $color-background-default;
  border: 1px solid rgba(17, 17, 17, 0.15);
  max-width: 300px;
  min-width: 166px;
  border-radius: 7px;
  padding: 0;
  max-height: 241px;
}

.dropdown-menu.dropdown-light:before,
.dropdown-menu.dropdown-light:after {
  border-color: transparent;
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.dropdown-menu.dropdown-light:before {
  border-bottom-color: rgba(17, 17, 17, 0.15);
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  border-width: 11px;
  border-top-width: 0;
  content: " ";
  top: -11px;
  left: 10px;
}

.dropdown-menu.dropdown-light:after {
  border-color: transparent;
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  border-width: 10px;
  border-bottom-color: #FFFFFF;
  border-top-width: 0;
  content: " ";
  top: -9px;
  left: 11px;
}

.dropdown-menu.dropdown-light.pull-right:after {
  left: auto;
  right: 11px;
}

.dropdown-menu.dropdown-light.pull-right:before {
  left: auto;
  right: 10px;
}

.dropdown-menu.dropdown-light li a {
  border-bottom: 1px solid #DDDDDD;
  font-size: $font-size-max;
  line-height: 35px;
  color: $color-default;
  text-align: center;
}

.dropdown-menu.dropdown-light li a.unread {
  line-height: 20px;
}

.dropdown-menu.dropdown-light li:first-child a {
  border-radius: 7px 7px 0 0;
}

.dropdown-menu.dropdown-light li:last-child a {
  border-radius: 0 0 7px 7px;
}

.dropdown-menu.dropdown-light li:last-child a {
  border-bottom: none;
}

.dropdown-header {
  padding: 5px 10px;
}

.tab-menu {
  position: fixed;
  z-index: 1100;
  background: #fafafa;
  box-shadow: 2px 2px 15px 0 #888;
  padding: 0;
  &>li {
    padding: 5px 10px;
    width: 100px;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    &:hover {
      cursor: pointer;
      background: #fafafa;
    }
  }
}