@import "../../style/helpers/parameters";
.main-navigation-menu {
  background-color: white;
  overflow-y: scroll;
  max-height: 65vh;
  margin-bottom: 10px;
  &::-webkit-scrollbar {
    width: 0;
  }
  &>.loadSpinner {
    position: relative;
    margin-top: 10px;
    &>.spinner {
      margin-left: 45px;
      margin-top: 5px;
    }
  }
}

#mainNavMenu.main-navigation-menu {
  height: 65vh;
}

.sidebar-l-wrapper {
  display: none;
  padding-left: 44px;
  line-height: 9px;
  margin: 4px 0px;
  width: 44px;
}

#mainNavLoading {
  display: block;
}

//.main-navigation-menu>li>a>.item-content>.sidebar-l-wrapper{
//  position: absolute;
//  top: -5px;
//  left: 135px;
//  display: none;
//}
//.sidebar-l-wrapper svg{
//  width: 25px;
//  height: 25px;
//}
//.sidebar-l-wrapper img{
//  width:20px;
//}
#sidebar {
  width: 190px;
  float: left;
  left: 0;
  position: relative;
  border-right: 1px solid #c8c7cc;
  bottom: 0;
  background: #f7f7f8;
  overflow: auto;
  z-index: 1000;
  //max-height: calc(100vh - 40px);
  height: 100vh;
  &::-webkit-scrollbar {
    width: 0;
  }
}

#sidebar>div,
#sidebar .sidebar-container {
  height: 100%;
  .search-form {}
}

.app-sidebar-fixed #sidebar>.sidebar-container {
  position: relative;
}

.app-mobile #sidebar {
  overflow: auto;
}

#msgVersion {
  padding: 0 15px 15px;
}

#sidebar nav {
  min-height: 100%;
}

@media (min-width: 992px) {
  #sidebar {
    margin-top: 40px;
  }
  .app-navbar-fixed #sidebar {
    margin-top: 0;
  }
  .app-sidebar-fixed #sidebar {
    position: fixed;
    top: $nav-height !important;
    margin-top: 0;
  }
  .app-sidebar-fixed #sidebar>div {
    z-index: 1000;
  }
  .app-sidebar-closed #sidebar {
    width: 70px;
  }
  .app-sidebar-closed .main-navigation-menu>.sidebar-l-wrapper {
    position: relative;
    left: 70px;
    padding: 0;
    width: 120px;
    height: 0;
    top: -35px;
  }
}

@media (max-width: 991px) {
  #sidebar {
    position: fixed !important;
    max-height: calc(100vh);
    top: 0;
    left: 0;
    z-index: 0;
    float: none;
    -webkit-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0);
    -moz-transition: -moz-transform 300ms ease 0s;
    -o-transition: -o-transform 300ms ease 0s;
    -webkit-transition: -webkit-transform 300ms ease;
    -webkit-transition-delay: 0s;
    transition: transform 300ms ease 0s;
  }
  #sidebar>div {
    z-index: 1000;
  }
  .app-slide-off #sidebar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: -moz-transform 300ms ease 0s;
    -o-transition: -o-transform 300ms ease 0s;
    -webkit-transition: -webkit-transform 300ms ease;
    -webkit-transition-delay: 0s;
    transition: transform 300ms ease 0s;
  }
  #sidebar nav {
    //border-right: none !important;
  }
  #sidebar>.sidebar-container {
    overflow-x: visible;
    position: relative;
  }
}

.item-content {
  align-items: center;
  display: table-row;
}

.item-content .item-media {
  display: table-cell;
  padding: 10px 15px 11px 15px;
}

.item-content .item-inner {
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c8c7cc;
  display: table-cell;
  padding: 10px 15px 10px 0;
  width: 100%;
}

.no-touch .item-content .item-inner {
  -moz-transition: border 300ms linear;
  -o-transition: border 300ms linear;
  -webkit-transition: border 300ms linear;
  transition: border 300ms linear;
}

.active .item-content .item-inner,
.open .item-content .item-inner,
li:last-child .item-content .item-inner {
  border-bottom-color: transparent !important;
}

//#sidebar > div nav > ul {
//  background: $color-background-default;
//  list-style: none;
//  margin: 0;
//  padding: 0;
//  border-top: 1px solid #c8c7cc;
//  border-bottom: 1px solid #c8c7cc;
//}
//#sidebar > div nav > ul > li a {
//  color: $color-default-font;
//  //border-bottom: none;
//}
//
//#sidebar > div nav > ul > li > a {
//  display: table;
//}
//#sidebar > div nav > ul > li.hover {
//  background: #efeff0;
//}
//.no-touch #sidebar > div nav > ul > li:hover {
//  background: #efeff0;
//}
//#sidebar > div nav > ul > li.active {
//  background: $color-default;
//}
//#sidebar > div nav > ul > li.active:hover {
//  background: $color-default;
//}
//#sidebar > div nav > ul > li.active > a {
//  border-top: none !important;
//  color: #ffffff;
//}
//#sidebar > div nav > ul > li.active > a i {
//  color: #ffffff!important;
//}
//.app-sidebar-closed >#sidebar > div nav > ul > li.active > a i {
//  color: $color-default;
//}
//#sidebar > div nav > ul li {
//  border: none;
//  display: block;
//  position: relative;
//  margin: 0;
//  padding: 0;
//}
//#sidebar nav > ul .sub-menu>li.active a{
//  background: #fff ;
//}
//#sidebar nav>ul .sub-menu>li.active>a{
//  background: $color-default;
//  color: #fff;
//  -moz-transition: background-color 300ms linear;
//  -o-transition: background-color 300ms linear;
//  -webkit-transition: background-color 300ms linear;
//  transition: background-color 300ms linear;
//}
.sub-menu {
  .item-inner {
    .icon-arrow {
      //margin-right: -14px;
    }
  }
}

//.no-touch #sidebar > div nav > ul li {
//  -moz-transition: background-color 300ms linear;
//  -o-transition: background-color 300ms linear;
//  -webkit-transition: background-color 300ms linear;
//  transition: background-color 300ms linear;
//}
@media (max-width: 992px) {
  #sidebar {
    width: 190px;
    max-height: calc(100vh);
  }
}

@media (min-width: 992px) {
  .app-sidebar-closed #sidebar>div nav>ul li ul.sub-menu {
    display: none !important;
  }
}


/*关于蓝鲸*/

.button-o {
  background: none;
  border: 1px solid $color-default;
  border-radius: 5px;
  box-sizing: border-box;
  color: $color-default;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 14px;
  height: 29px;
  line-height: 27px;
  margin: 0;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//a {
//  color: $color-default;
//}
//a:hover, a:focus, a:active {
//  color: #004999;
//}
//隐藏下拉框
.ps-scrollbar-y-rail {
  display: none!important;
}

.no-touch #sidebar>div nav>ul.sub-menu li:hover {
  background: #efeff0;
}

.modal-body.padding-1 {
  padding: 1px;
}

.collect_wrap {
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f8;
  padding-bottom: 10px;
  .collect_item {
    text-align: center;
    cursor: pointer;
  }
  p {
    text-align: center;
    font-size: 12px;
    color: #333;
    padding: 0px;
    margin: 0px;
    margin-top: 2px;
  }
}