.msgListPage{
  padding-bottom: 0;
  .tab-content{
    margin-top: 0;
  }
  .msg-tab{
    &>div{
      height: 85vh;
      &>ul{
        height: 80vh;
        overflow: auto;
      }
    }
  }

  .msg-detail{
    border-left: 1px solid #dddddd;
    box-shadow: unset;
    width: 50%;
    background: #f7f7f7;
    .modal-body{
      padding: 15px 0 15px 15px;
      .msg-detail-title{
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 10px;
      }
      .margin-bottom-8{
        margin-bottom: 8px;
      }
      .msg-detail-content{
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #dddddd;
      }
    }

  }

  .msg-list{
    padding-left: 0;
    padding-right: 15px;
    .msg-li{
      border-bottom: dashed .5px #e2e2e2;
      padding-bottom: 37px;
      padding-left: 15px;
      cursor: pointer;
      padding-top: 15px;
      &:hover{
        background: #eeeeee;
      }
      .msg-title{
        color: #000000;
        font-weight: 600;
        font-size: 16px;
        padding-bottom: 10px;
      }
      .msg-content{
        color: #666666;
        padding-bottom: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .msg-last{
        color: #666666;
        &>div{
          float: left;
        }
        .msg-time{

        }
        .msg-sender{
          margin-left: 30px;
        }
        .msg-del{
          cursor: pointer;
          margin-left: 30px;
          .iconfont{
            padding-right: 7px;
          }
        }
      }
    }
  }
  .msg-paging{
    .paging-wrapper{
      text-align: left;
    }
  }
  .opacity-6{
    opacity: .6;
  }
}