.msgListPage{
  padding-bottom: 0;
  .msg-tab{
    &>div{
      height: 85vh;
      &>ul{
        height: 80vh;
        overflow: auto;
      }
    }
  }

  .msg-list{
    padding-left: 15px;
    padding-right: 15px;
    .msg-li{
      border-bottom: dashed .5px #e2e2e2;
      padding-bottom: 37px;
      cursor: pointer;
      padding-top: 15px;
      .msg-title{
        color: #000000;
        font-weight: 600;
        font-size: 16px;
        padding-bottom: 10px;
      }
      .msg-content{
        color: #666666;
        padding-bottom: 10px;
      }
      .msg-last{
        color: #666666;
        &>div{
          float: left;
        }
        .msg-time{

        }
        .msg-sender{
          margin-left: 30px;
        }
        .msg-del{
          cursor: pointer;
          margin-left: 30px;
          .iconfont{
            padding-right: 7px;
          }
        }
      }
    }
    .msg-paging{
      padding: 10px;
    }
  }
  .opacity-6{
    opacity: .6;
  }
}