.mb-list-wrapper{
  .list-item-wrapper{
    &::after{
      content: "";
      clear: both;
      display: block;
    }
    padding: 20px;
    padding-right: 0;
    &>.checkbox-wrapper{
      float: left;

    }
    &>.list-item-content{
      float: left;
      &::after{
        content: "";
        clear: both;
        display: block;
      }

      .list-item-img{
        float: left;
        width: 80px;
        img{
          width: 80px;
          height: 80px;
        }
      }
      .list-item-details{
        width: calc(100% - 80px);
        float: left;
      }
    }
  }
}