.mb-list-wrapper {
  .select-box{
    font-size: 14px !important;
  }
  .select-box .check-span.label-checkbox::before{
    border-radius: 50%;
  }
  .select-box input[type=checkbox]:checked + .check-span::after{
    background-color: #ff9c00;
    color: #ffffff;
    border-radius: 50%;
  }
  &.button-wrapper {
    padding-bottom: 70px;
  }
  &.button-wrapper.select {
    padding-bottom: 115px;
  }
  .list-batch-wrapper{
    position: fixed;
    bottom: 0;
    z-index: 2;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    .statistic{
      height: 45px;
      display: flex;
      width: 100%;
      align-items: center;
      font-size: 14px;
      color: #666666;
      border-top: solid 1px #e2e2e2;
      padding-left: 16px;
      span{
        color: #ff9c00;
      }
    }
    .list-buttons {
      height: 70px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.13);
      border-top: solid 1px #e2e2e2;
      .select-all {
        flex: 0 0 auto;
        .check-text {
          font-size: 14px;
        }
      }
    }
  }
  .btn-group {
    height: 62px;
    padding: 0 16px;
    width: 100%;
    .buttons-wrapper {
      border-top: 1px solid #e2e2e2;
    }
  }
  .buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;
    .item-button {
      height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 20px;
      background-color: #ffffff;
      border: solid 1px #005bac;
      color: #005bac;
      margin-left: 10px;
      text-align: center;
      line-height: 38px;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.first {
        background-color: #005bac;
        color: #ffffff;
      }
    }
  }
  .list-item-wrapper {
    margin-bottom: 10px;
    background-color: #ffffff;
  }
  .multi-icon {
    z-index: 3;
    position: fixed;
    right: 16px;
    bottom: 90px;
    width: 45px;
    height: 45px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.13);
    border: solid 1px #e2e2e2;
    color: #666666;
    line-height: 14px;
    padding-top: 2px;
    i {
      color: #666666;
      margin-bottom: 2px;
    }
  }
  font-size: 13px;
  .check-span.label-checkbox {
    &::before {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
  .select-box {
    font-size: 20px;
    input[type=checkbox]:checked + .check-span {
      &::after {
        //padding-top: 10px;
      }
    }
    .check-span {
      width: 20px;
      height: 20px;
    }
  }
  .body-title {
    display: inline-block;
    width: 70px;
  }
  .img-label {
    width: 70px;
    height: 70px;
    background-color: #f5956b;
    color: #ffffff;
    position: absolute;
    top: -35px;
    left: -35px;
    line-height: 110px;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    text-align: center;
    opacity: 0.8;
  }
  .label {
    color: #b4b4b4;
    font-weight: normal;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    margin-right: .6em;
    font-size: 85%;
  }
  .list-item-body-container {
    padding: 16px;
    padding-right: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: flex-start;
    &::after {
      content: "";
      clear: both;
      display: block;
    }
    & > .checkbox-wrapper {
      width: 20px;
      height: 20px;
      margin-top: 30px;
      & + .list-item-content {
        border: none;
        padding-bottom: 0;
        display: flex;
        display: -webkit-flex;
        justify-content: flex-start;
        .list-item-body {
          margin-top: 0;
        }
      }
    }
    & > .list-item-content {
      display: flex;
      display: -webkit-flex;
      width: calc(100% - 40px);
      border-bottom: 1px solid #F8F8F8;
      padding-bottom: 10px;
      &::after {
        content: "";
        clear: both;
        display: block;
      }
      .list-item-img {
        width: 90px;
        height: 90px;
        position: relative;
        overflow: hidden;
        flex: 0 0 auto;
        img {
          width: 90px;
          height: 90px;
        }
        & + .list-item-details {
          width: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          margin-left: 15px;
          height: 100%;
          .list-item-title {
            padding: 0;
            border-bottom: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .list-item-body {
            flex: 1 1 auto;
            padding-top: 5px;
            display: flex;
            flex-direction: column;
            margin-top: 0;
          }
          .list-detail-item {
            display: flex;
            align-items: flex-start;
            p {
              margin: 0 0 5px 0;
              padding: 0;
            }
            &.list-item-body {
              flex-direction: column;
            }
          }
        }
      }
      .list-item-details {
        color: #666;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
      }
      .list-item-title {
        width: 100%;
        font-size: 15px;
        font-weight: bolder;
        color: #000;
        padding-bottom: 10px;
        border-bottom: 1px solid #F8F8F8;
      }
      .list-item-body {
        margin-top: 5px;
      }
    }
  }
}

