$blue : #007aff;
$green : #4cd964;
$yellow : #f0ad4e;
$red : #dd524d;
$purple : #8a6de9;
$black : #333333;
$grey : #999999;

$primary: #005bac;
$warn: #ffb400;
$info: #37ba9d;
$error: #ff4d6a;
$title: #3a3a3a;
$text: #666;
$default_1: #fff;
$default_2: #f7f8fa;
$default_3: #b0b0b0;
$default_4: #e2e2e2;
$default_5: #f2f2f2;
