@import "color.param";
.blue {
  color: $blue;
}
.green {
  color: $green;
}

.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

.purple {
  color: $purple;
}

.black {
  color: $black
}

.grey {
  color: $grey;
}