
.plan-page {
  padding-left: 0px;
  padding-right: 0px;
  height: calc(100% - 23px);
  .modal-mbPage{
    .mbPage{
      .mbPage-body{
        .plan-query-form-body{
          .footer-btn-group{
            bottom: 18px;
            left: 0;
          }
          .horizontalQueryModule{
            .query-form{
              margin: 0 15px;
              .form-com-item{
                margin: 15px 0;
                .text-input{
                  background-color: rgba(242,242,242,1);
                  border-radius: 78px;
                  line-height: 2;
                  input{
                    margin: 0px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }


  .tooltip {
    user-select: none;
    position: absolute;
    width: 120px;
    height: auto;
    font-family: SimSun;
    font-size: 14px;
    text-align: center;
    border: 1px solid;
    background-color: white;
    border-radius: 5px;
    opacity: 1;

  }
  .custom-button {
    box-shadow: 0px 2px 3px #c8c8c8 inset !important;
    background-color: #F8F8F8 !important;
    border-radius: 4% !important;
  }
  .selected {
    fill: #e60c0c;
    stroke: #ca3025;
  }
  .plan-wrapper {
    height: 100%;
    .initScale{
      position: absolute;
      bottom: 8px;
      div{
        margin: 10px;
      }
    }
    .horizontalQueryModule {
      position: relative;
      height: 50px;
      border-bottom: 1px solid #cccccc;
      z-index: 1;
    }
    .plan-opera {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      height: 38px;
      padding: 7px 0;
      background-color: #ffffff;
      .input-box-horizontal {
        button {
          background-color: #FFFFFF;
          color: black;
          border: 0px;
          &:hover {
            border-radius: 3px !important;
            background: #f8f8f8;
            opacity: 0.65;
            border: 1px solid #eeeeee;
          }
        }
      }
    }
  }
  .plan-content {
    height: calc(100% - 50px);
    .draw-point-wrapper {
      height: calc(100% - 38px);
      overflow: auto;
      position: relative;
      svg {
        background: #fff;
        margin: 0 auto;
        display: block;
        & > g[cursor=move]{
          & > *{
            cursor: move!important;
          }
        }
        g {
          //touch-action: auto;
          -webkit-overflow-scrolling: auto;
          image{
            image-rendering: auto;
          }
          .iconfont {
            font-size: 12px;
          }

          .selected {
            fill: #e60c0c;
            stroke: #ca3025;
          }
          .line {
            //fill: white;
            stroke: #4682b4;
            //fill-opacity: 0;
          }
          circle {

            fill: #fff;

            fill-opacity: .2;

            cursor: move;

            stroke: #084d84;

            stroke-width: 0.5px;

          }
        }
      }
    }

  }

}

.plan-status-modal.modal-wrapper{
  transition: transform 0.8s;
  .modal-header{
    height: 20px;
    &>h1{
      display: none;
    }
  }
  .modal-body{
    min-width: unset;
    .status-list{
      padding: 0 10px;
      .status-item{
        height: 20px;
        line-height: 20px;
        position: relative;
        padding-left: 25px;
        .status-ball{
          position: absolute;
          left: 0;
          top: 2px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
        }
      }
    }
  }
}

.plan-page.fl-mobile {
  & > .mui-content {
    height: 100%;
    .plan-wrapper {
      height: 100%;
      .plan-content {
        height: 100%;
        .draw-point-wrapper{
          height: 100%;
          width: 100%;
          overflow: hidden;
          transition: padding 0.2s ease 0s;
          &::-webkit-scrollbar{
            display: none;
          }
        }
      }
    }
  }
  .plan-opera{
    display: none;
  }
  .queryBuilder {

    .plan-query-form-body {
      height: calc(100% - 44px);
      .footer-btn-group {
        padding: 10px 30px;
        position: absolute;
        .btn {

        }
      }
    }
  }

  .plan-detail-modal{
    width: 90%;
    height: 240px;
    max-height: 240px;
    .head-wrapper{
      padding: 3px 0;
      background-color: #3185ff;
      .modal-header{
        border-bottom: none;
        background-color: #3185ff;
        h1{
          margin: 0;
          color: #fff;
          font-weight: normal;
        }
        .close{
          color: #fff;
        }
      }
    }

    .modal-body{
      padding: 10px 10px 5px;
      overflow: hidden;
      .plan-item-detail{
        .plan-item-content{
          margin-right: -30px;
          display: flex;
          flex-wrap: wrap;
          span.text{
            padding-right: 30px;
          }
        }
        .plan-btn-groups{
          padding: 10px 0;
          display: flex;
          flex-wrap: wrap;
          margin-right: -20px;
          .btn{
            margin-right: 20px;
            margin-bottom: 10px;
            color: #108ee9;
            background-color: white;
            border-color: #108ee9;
          }
        }
      }
    }
  }

}



