.designContentItems{
    width: 100%;
    overflow: hidden;
    .designContentItem{
        width: 33.33%;
        float: left;
        margin-bottom: 20px;
      .select-box>span.check-text{
        line-height: 36px;
        font-size: 14px;
      }
      label{
        text-align: right;
        font-weight: normal;
        width: 96px !important;
      }
      .textInputContent,.dropDownContainer{
        width: 140px;
        height: 36px;
        border-radius: 3px;
        border: solid 1px #e2e2e2;
        font-size: 14px;
      }
      input:focus{
        outline: none;
      }
    }

}
.menuDesignHide{
  display: none;
 }