@charset "utf-8";
.content{
    max-width: 392px;
    margin: 0 auto;
    padding: 0 10px;
    .reg-content{
      //#login-form{
      //  .input-group{
      //    padding-top: 20px;
      //    width: 100%;
      //    &>input{
      //      height: 42px;
      //      border-radius: 4px!important;
      //    }
      //    #verify{
      //      padding-right: 80px;
      //    }
      //  }
      //
      //  #sendVerify{
      //    position: absolute;
      //    text-align: center;
      //    right: 5px;
      //    top: 26px;
      //    padding: 6px 12px;
      //    width: auto;
      //    line-height: 1.1;
      //    float: right;
      //    color: #fff;
      //    border: 1px solid #007aff;
      //    background-color: #007aff;
      //    font-size: 14px;
      //    font-weight: 400;
      //    z-index: 2;
      //    border-radius: 3px;
      //  }
      //}
      .reg-btn{
        width: 100%;
        //padding: 0 7px;
        position: relative;
        #saveReg,#goLogin{
          font-size: 16px;
          display: block;
          width: 100%;
          margin-top: 20px;
          padding: 7px 0;
          color: #fff;
          border-radius: 3px;
          border: 1px solid #007aff;
          background-color: #007aff;
          float: left;
        }
        #goLogin{
          margin-right: 8%;
        }
      }
      .msg-tip{
        h5{
          font-weight: 400;
          color: #8f8f94;
        }
      }
      .msg-device{
        position: relative;
        padding: 0;
        background-color: #fff;
        .input-row{
          height: 40px;
          position: relative;
          clear: left;
          overflow: hidden;

          &:after{
            position: absolute;
            right: 0;
            bottom: 0;
            left: 15px;
            height: 1px;
            content: '';
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
            background-color: #c8c7cc;
          }
          label{
            width: 90px;
            font-family: 'Helvetica Neue',Helvetica,sans-serif;
            line-height: 1.1;
            float: left;
            padding: 11px 15px;
          }
          input,[data-name="mac_id"]{
            height: 100%;
            width: calc(100% - 90px);
            float: left;
            margin-bottom: 0;
            padding-left: 0;
            border: 0;
            .text-input{
              height: 100%;
              .btn-group{
                top: 9px;
              }
              input{
                width: 100%!important;
              }
            }
            &:focus{
              outline: 1px dotted;
            }
          }
        }

      }
    }
    .reg-head{
      padding-top: 80px;
      text-align: center;
      .reg-title{
        font-family: "NSimSun",新宋体!important;
      }
    }
  }
.font-size-16{
  font-size: 16px;
  padding: 8px;
}

