.regist-module3 {
  p{
    color: #33484f;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .login-info {
    .key{
      color: #91a8b0;
    }
  }
  .explain{
    background-color: #e9f6ff;
    border: solid 1px #9bd7ff;
    padding: 14px;
    font-size: 12px;
    color: #0099ff;
  }
  a.back-login{
    height: 50px;
    background-color: #0099ff;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    line-height: 49px;
    padding: 0;
    text-align: center;
    font-size: 16px;
  }
}